# Out-of-State-Contributions: Candidates Analysis

How much out-of-state money are candidates raising in the 2018 election cycle, in absolute and proportional terms, thus far and how does that compare with this point in the 2014 and 2010 cycles?

In [1]:
from functools import reduce
import numpy as np
import pandas as pd

pd.set_option("display.max_columns", 100)
pd.set_option("display.max_rows", 500)
pd.options.display.float_format = "{:,.2f}".format # Format floats

Import contributions data.

In [2]:
contributions = pd.read_csv("data/contributions.csv")
contributions.info()

/home/jyerardi/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (14,17,18,19,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6947770 entries, 0 to 6947769
Data columns (total 23 columns):
candidate                 object
candidate_id              int64
year                      int64
state                     object
party                     object
election_status           object
contributor               object
amount                    float64
date                      object
contributor_street        object
contributor_city          object
contributor_state         object
contributor_zip           float64
in_out_state              object
no_veto                   object
office                    object
last_day                  object
redistricting_role        object
independent_commission    object
single_house_district     object
standardized_office       object
standardized_status       object
two_year_term             object
dtypes: float64(2), int64(2), object(19)
memory usage: 1.2+ GB

Convert the contribution date and latest month columns to datetime data type.

In [3]:
contributions["date"] = pd.to_datetime(contributions["date"], errors="coerce")
contributions["last_day"] = pd.to_datetime(contributions["last_day"], errors="coerce")
contributions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6947770 entries, 0 to 6947769
Data columns (total 23 columns):
candidate                 object
candidate_id              int64
year                      int64
state                     object
party                     object
election_status           object
contributor               object
amount                    float64
date                      datetime64[ns]
contributor_street        object
contributor_city          object
contributor_state         object
contributor_zip           float64
in_out_state              object
no_veto                   object
office                    object
last_day                  datetime64[ns]
redistricting_role        object
independent_commission    object
single_house_district     object
standardized_office       object
standardized_status       object
two_year_term             object
dtypes: datetime64[ns](2), float64(2), int64(2), object(17)
memory usage: 1.2+ GB

## Calculate out-of-state contributions by candidate

Filter the data by election cycle.

In [4]:
contributions_18 = contributions[contributions["year"] == 2018]
contributions_14 = contributions[contributions["year"] == 2014]
contributions_10 = contributions[contributions["year"] == 2010]

Group by candidate, state, year, office status, redistricting role (for 2018 cycle data) and in-vs.-out-of-state contribution status and sum contributions.

In [5]:
contributions_by_candidate_18 = contributions_18.groupby(["candidate", "state", "year", "standardized_office", "standardized_status", "redistricting_role", "in_out_state"])["amount"].sum().reset_index()
contributions_by_candidate_18.rename(columns={"amount": "amount_18"}, inplace=True)
contributions_by_candidate_14 = contributions_14.groupby(["candidate", "state", "year", "standardized_office", "standardized_status", "in_out_state"])["amount"].sum().reset_index()
contributions_by_candidate_14.rename(columns={"amount": "amount_14"}, inplace=True)
contributions_by_candidate_10 = contributions_10.groupby(["candidate", "state", "year", "standardized_office", "standardized_status", "in_out_state"])["amount"].sum().reset_index()
contributions_by_candidate_10.rename(columns={"amount": "amount_10"}, inplace=True)

Pivot the dataframes to aggregate each candidate's data in a single row.

In [6]:
contributions_by_candidate_18 = pd.pivot_table(contributions_by_candidate_18, index=["candidate", "state", "year", "standardized_office", "standardized_status", "redistricting_role"], columns=["in_out_state"]).reset_index()
contributions_by_candidate_14 = pd.pivot_table(contributions_by_candidate_14, index=["candidate", "state", "year", "standardized_office", "standardized_status"], columns=["in_out_state"]).reset_index()
contributions_by_candidate_10 = pd.pivot_table(contributions_by_candidate_10, index=["candidate", "state", "year", "standardized_office", "standardized_status"], columns=["in_out_state"]).reset_index()

Some records have no contributions for certain categories. Let's set those values equal to zero to be sure any calculations we run on them are correct.

In [7]:
contributions_by_candidate_18.fillna(0, inplace=True)
contributions_by_candidate_14.fillna(0, inplace=True)
contributions_by_candidate_10.fillna(0, inplace=True)

Flatten the resulting dataframes' multi-index columns.

In [8]:
contributions_by_candidate_18.columns = ["_".join(column).replace("-","_").strip("_") for column in contributions_by_candidate_18.columns.values]
contributions_by_candidate_18.rename(columns={"standardized_office": "standardized_office_18"}, inplace=True)
contributions_by_candidate_14.columns = ["_".join(column).replace("-","_").strip("_") for column in contributions_by_candidate_14.columns.values]
contributions_by_candidate_14.rename(columns={"standardized_office": "standardized_office_14"}, inplace=True)
contributions_by_candidate_10.columns = ["_".join(column).replace("-","_").strip("_") for column in contributions_by_candidate_10.columns.values]
contributions_by_candidate_10.rename(columns={"standardized_office": "standardized_office_10"}, inplace=True)

Calculate the proportion of in-state, out-of-state and unknown contributions.

In [9]:
contributions_by_candidate_18["pct_18_in_state"] = contributions_by_candidate_18["amount_18_in_state"] / (contributions_by_candidate_18["amount_18_in_state"] + contributions_by_candidate_18["amount_18_out_of_state"] + contributions_by_candidate_18["amount_18_unknown"])
contributions_by_candidate_18["pct_18_out_of_state"] = contributions_by_candidate_18["amount_18_out_of_state"] / (contributions_by_candidate_18["amount_18_in_state"] + contributions_by_candidate_18["amount_18_out_of_state"] + contributions_by_candidate_18["amount_18_unknown"])
contributions_by_candidate_18["pct_18_unknown"] = contributions_by_candidate_18["amount_18_unknown"] / (contributions_by_candidate_18["amount_18_in_state"] + contributions_by_candidate_18["amount_18_out_of_state"] + contributions_by_candidate_18["amount_18_unknown"])
contributions_by_candidate_14["pct_14_in_state"] = contributions_by_candidate_14["amount_14_in_state"] / (contributions_by_candidate_14["amount_14_in_state"] + contributions_by_candidate_14["amount_14_out_of_state"] + contributions_by_candidate_14["amount_14_unknown"])
contributions_by_candidate_14["pct_14_out_of_state"] = contributions_by_candidate_14["amount_14_out_of_state"] / (contributions_by_candidate_14["amount_14_in_state"] + contributions_by_candidate_14["amount_14_out_of_state"] + contributions_by_candidate_14["amount_14_unknown"])
contributions_by_candidate_14["pct_14_unknown"] = contributions_by_candidate_14["amount_14_unknown"] / (contributions_by_candidate_14["amount_14_in_state"] + contributions_by_candidate_14["amount_14_out_of_state"] + contributions_by_candidate_14["amount_14_unknown"])
contributions_by_candidate_10["pct_10_in_state"] = contributions_by_candidate_10["amount_10_in_state"] / (contributions_by_candidate_10["amount_10_in_state"] + contributions_by_candidate_10["amount_10_out_of_state"] + contributions_by_candidate_10["amount_10_unknown"])
contributions_by_candidate_10["pct_10_out_of_state"] = contributions_by_candidate_10["amount_10_out_of_state"] / (contributions_by_candidate_10["amount_10_in_state"] + contributions_by_candidate_10["amount_10_out_of_state"] + contributions_by_candidate_10["amount_10_unknown"])
contributions_by_candidate_10["pct_10_unknown"] = contributions_by_candidate_10["amount_10_unknown"] / (contributions_by_candidate_10["amount_10_in_state"] + contributions_by_candidate_10["amount_10_out_of_state"] + contributions_by_candidate_10["amount_10_unknown"])

Join the 2018, 2014 and 2010 contributions by candidate data

In [10]:
list_of_contributions_by_candidate = [contributions_by_candidate_18, contributions_by_candidate_14, contributions_by_candidate_10]
contributions_by_candidate = reduce(lambda left, right: pd.merge(left, right, on=["candidate", "state"], how="outer"), list_of_contributions_by_candidate)
contributions_by_candidate.drop(["year_x", "year_y", "year"], axis=1, inplace=True)
contributions_by_candidate.rename(columns={"standardized_status_x": "standardized_status_18", "standardized_status_y": "standardized_status_14"}, inplace=True)
contributions_by_candidate["amount_18_total"] = contributions_by_candidate["amount_18_in_state"] + contributions_by_candidate["amount_18_out_of_state"] + contributions_by_candidate["amount_18_unknown"]
contributions_by_candidate["amount_14_total"] = contributions_by_candidate["amount_14_in_state"] + contributions_by_candidate["amount_14_out_of_state"] + contributions_by_candidate["amount_14_unknown"]
contributions_by_candidate["amount_10_total"] = contributions_by_candidate["amount_10_in_state"] = contributions_by_candidate["amount_10_out_of_state"] + contributions_by_candidate["amount_10_unknown"]
contributions_by_candidate.head()

,candidate,state,standardized_office_18,standardized_status_18,redistricting_role,amount_18_in_state,amount_18_out_of_state,amount_18_unknown,pct_18_in_state,pct_18_out_of_state,pct_18_unknown,standardized_office_14,standardized_status_14,amount_14_in_state,amount_14_out_of_state,amount_14_unknown,pct_14_in_state,pct_14_out_of_state,pct_14_unknown,standardized_office_10,standardized_status,amount_10_in_state,amount_10_out_of_state,amount_10_unknown,pct_10_in_state,pct_10_out_of_state,pct_10_unknown,amount_18_total,amount_14_total,amount_10_total
0,"ABBATE, PETER",NY,STATE HOUSE/ASSEMBLY/SENATE,ADVANCED TO GENERAL,N,"183,575.00","18,350.00","31,925.00",0.79,0.08,0.14,NaN,NaN,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,nan,nan,nan,nan,nan,"233,850.00",nan,nan
1,"ABBOTT, DAVID H",IN,STATE HOUSE/ASSEMBLY/SENATE,ADVANCED TO GENERAL,Y,"26,065.00",0.00,0.00,1.00,0.00,0.00,NaN,NaN,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,nan,nan,nan,nan,nan,"26,065.00",nan,nan
2,"ABBOTT, GREG",TX,GOVERNOR/LIEUTENANT GOVERNOR,ADVANCED TO GENERAL,Y,"61,189,628.95","4,590,344.58","1,020.00",0.93,0.07,0.00,GOVERNOR/LIEUTENANT GOVERNOR,ADVANCED TO GENERAL,"23,579,018.32","1,526,043.75","4,791,017.12",0.79,0.05,0.16,NaN,NaN,nan,nan,nan,nan,nan,nan,"65,780,993.53","29,896,079.19",nan
3,"ABDUL-RAHIM, ANEES",MD,STATE HOUSE/ASSEMBLY/SENATE,DID NOT ADVANCE,Y,"3,165.00",0.00,0.00,1.00,0.00,0.00,NaN,NaN,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,nan,nan,nan,nan,nan,"3,165.00",nan,nan
4,"ABERCROMBIE, CATHERINE F",CT,STATE HOUSE/ASSEMBLY/SENATE,ADVANCED TO GENERAL,N,"2,485.00",0.00,0.00,1.00,0.00,0.00,STATE HOUSE/ASSEMBLY/SENATE,ADVANCED TO GENERAL,"5,130.06",7.00,20.00,0.99,0.00,0.00,NaN,NaN,nan,nan,nan,nan,nan,nan,"2,485.00","5,157.06",nan

## Calculate the average contributions to 2018 state legislative candidates and the average proportion of out-of-state contributions to them

Filter the data to just candidates running for state house or senate in 2018.

In [11]:
legislative_candidates = contributions_by_candidate[contributions_by_candidate["standardized_office_18"] == "STATE HOUSE/ASSEMBLY/SENATE"]
legislative_candidates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8614 entries, 0 to 8947
Data columns (total 30 columns):
candidate                 8614 non-null object
state                     8614 non-null object
standardized_office_18    8614 non-null object
standardized_status_18    8614 non-null object
redistricting_role        8614 non-null object
amount_18_in_state        8614 non-null float64
amount_18_out_of_state    8614 non-null float64
amount_18_unknown         8614 non-null float64
pct_18_in_state           8614 non-null float64
pct_18_out_of_state       8614 non-null float64
pct_18_unknown            8614 non-null float64
standardized_office_14    2834 non-null object
standardized_status_14    2834 non-null object
amount_14_in_state        2834 non-null float64
amount_14_out_of_state    2834 non-null float64
amount_14_unknown         2834 non-null float64
pct_14_in_state           2834 non-null float64
pct_14_out_of_state       2834 non-null float64
pct_14_unknown            2834 non-null float64
standardized_office_10    1560 non-null object
standardized_status       1560 non-null object
amount_10_in_state        1560 non-null float64
amount_10_out_of_state    1560 non-null float64
amount_10_unknown         1560 non-null float64
pct_10_in_state           1560 non-null float64
pct_10_out_of_state       1560 non-null float64
pct_10_unknown            1560 non-null float64
amount_18_total           8614 non-null float64
amount_14_total           2834 non-null float64
amount_10_total           1560 non-null float64
dtypes: float64(21), object(9)
memory usage: 2.0+ MB

Calculate the mean total contributions.

In [12]:
legislative_candidates["amount_18_total"].mean()

72349.1902333409

Calculate the mean out-of-state contributions.

In [13]:
legislative_candidates["amount_18_out_of_state"].mean()

8233.98652426283

Calculate the average proportion of out-of-state contributions.

In [14]:
legislative_candidates["amount_18_out_of_state"].mean() / legislative_candidates["amount_18_total"].mean()

0.1138089659014364

## Calculate 2018 out-of-state contributions for New Mexico's Jimmie Hall and Melanie Stansbury.

Filter the data to return contributions to Jimmie Hall and Melanie Stansbury in the 2018 cycle.

In [15]:
hall_contributions = contributions[(contributions["candidate_id"] == 240408) & (contributions["year"] == 2018)]
stansbury_contributions = contributions[(contributions["candidate_id"] == 240407) & (contributions["year"] == 2018)]

In [16]:
hall_contributions.groupby("in_out_state")["amount"].sum()

in_out_state
in-state       18,965.00
out-of-state   15,250.00
Name: amount, dtype: float64

In [17]:
stansbury_contributions.groupby("in_out_state")["amount"].sum()

in_out_state
in-state       52,858.85
out-of-state   32,776.76
unknown           185.00
Name: amount, dtype: float64

## Calculate the top contributors to the 2018 campaign of Wisconsin's Scott Walker.

And how many people maxed out at the $20,000 level?

In [18]:
walker_contributions = contributions[contributions["candidate_id"] == 224207]
walker_contributors = walker_contributions.groupby("contributor")["amount"].sum().reset_index().sort_values("amount", ascending=False)
walker_contributors[walker_contributors["amount"] >= 20000].reset_index(drop=True)

                                 contributor       amount
0                         PEOPLE FOR REBECCA 1,000,740.49
1                 WISCONSIN REPUBLICAN PARTY    95,990.23
2             WISCONSIN REALTORS ASSOCIATION    92,500.00
3           REPUBLICAN GOVERNORS ASSOCIATION    86,000.00
4                                 ANTHEM INC    81,000.00
5                   FOREST COUNTY POTAWATOMI    50,000.00
6                              DIRECT SUPPLY    45,000.00
7                      WISCONSIN FARM BUREAU    43,000.00
8    WISCONSIN BEER DISTRIBUTORS ASSOCIATION    41,500.00
9                             KELLNER, TED D    39,500.00
10                          WEC ENERGY GROUP    38,521.00
11         WISCONSIN PIPE TRADES ASSOCIATION    30,000.00
12                   GREAT AMERICA COMMITTEE    30,000.00
13                         KUESTER, DENNIS J    27,500.00
14                           STAYER, RALPH C    25,949.96
15            CHRISTENSON II, LELAND G (LEE)    25,000.00
16                    CHARTER COMMUNICATIONS    25,000.00
17                                  RYAN LLC    25,000.00
18                                    HUMANA    25,000.00
19                             REIMAN, ROY J    23,500.00
20                         GROSS, DIETRICH M    22,500.00
21                        ZIEGLER, STEPHEN J    22,500.00
22                                    PFIZER    21,000.00
23                            BOHRER, WALTER    20,500.00
24                         LARSON, RICHARD D    20,300.00
25                             NELSON, CAROL    20,260.00
26                          WALL, TERRENCE R    20,250.00
27                              FRYE, GERALD    20,050.00
28                            REYNOLDS, GAIL    20,035.00
29                     LASKARIS, NICKOLAOS D    20,000.00
30                       SCHLOEMER, ANDREA L    20,000.00
31                         SHANNON, MARY SUE    20,000.00
32                     WEBER, DONALD J (DON)    20,000.00
33                        BECHER, BENJAMIN J    20,000.00
34                            BERGMAN, JAY D    20,000.00
35                          YOUNG JR, FRED M    20,000.00
36             UIHLEIN, RICHARD ELLIS (DICK)    20,000.00
37                          SCHLIFSKE, KIM C    20,000.00
38                              CRAFT, JOE W    20,000.00
39              HARRIS, ROBERT JEFFREY (R J)    20,000.00
40                        JOHNSON, CHARLES B    20,000.00
41                         SCHLIFSKE, JOHN E    20,000.00
42                               SUTER, RYAN    20,000.00
43                           STRONG, DONNA L    20,000.00
44               HILLIS, GENEVIEVE ELIZABETH    20,000.00
45                            KERN, ROBERT D    20,000.00
46                       GREENHECK, ROBERT C    20,000.00
47                     SMITH, THOMAS WILLIAM    20,000.00
48                              FOX, BRENT A    20,000.00
49      BURLINGTON NORTHERN SANTA FE RAILWAY    20,000.00
50                           MILLS, SANDRA R    20,000.00
51                              NELSON, TODD    20,000.00
52                     HUBBARD, KAREN HOLMEN    20,000.00
53                            SHIELY, JOHN S    20,000.00
54                          CECCHI, GIUSEPPE    20,000.00
55                      FLECKENSTEIN, JANICE    20,000.00
56                          ZIETLOW, LAVONNE    20,000.00
57                            OREN, DONALD G    20,000.00
58                   ZIETLOW, DONALD P (DON)    20,000.00
59                  JOHNSON-LEIPOLD, HELEN P    20,000.00
60                    HILLIS, ROBERT J (BOB)    20,000.00
61                        HILLIS, JENNIFER F    20,000.00
62                         BUCKLEY, WALTER W    20,000.00
63                         KEISER, MICHAEL L    20,000.00
64                          ZIEGLER, CARLENE    20,000.00
65                           BURNS, BLADEN J    20,000.00
66                        SINQUEFIELD, REX A    20,000.00
67                         STRONG, RICHARD S    20,000.00
68                              SMITH, JAY L    20,000.00
69                        TARANTINO, JAMES A    20,000.00
70                   ANSAY, MICHAEL G (MIKE)    20,000.00
71                          CZUKER, EDWARD M    20,000.00
72                          RASMUS, ROBERT E    20,000.00
73                     JOHNSON, HERBERT FISK    20,000.00
74                            SMITH, DIANE G    20,000.00
75                             KOHLER, DAVID    20,000.00
76                             PRICE, STEVEN    20,000.00
77                          LEIPOLD, CRAIG L    20,000.00
78                       GENTINE, MICHELLE A    20,000.00
79                    FETTIG, ROBERT P (BOB)    20,000.00
80                         GRAINGER, DAVID W    20,000.00
81                          FOLLETT, BRIAN R    20,000.00
82                UIHLEIN, ELIZABETH A (LIZ)    20,000.00
83                          JOYCE, CHARLES P    20,000.00
84                     RAUNER, BRUCE VINCENT    20,000.00
85                  STEPHENS, WARREN AMERINE    20,000.00
86                        LANGONE, KENNETH G    20,000.00
87                          REYNOLDS, GARY M    20,000.00
88                            SCHUH, KONYA D    20,000.00
89                        HUBBARD, STANLEY S    20,000.00
90                              ROOD, JOHN D    20,000.00
91                             STAYER, LAUNA    20,000.00
92                           ROONEY, JAMES G    20,000.00
93                             ROONEY, KAREN    20,000.00
94                      PRITZKER, JENNIFER N    20,000.00
95                          WHITE, MICHAEL H    20,000.00
96                          ROONEY, STEVEN R    20,000.00
97                   CAMERON, RONALD M (RON)    20,000.00
98                         DUBOIS, CHARLES C    20,000.00
99                           JENSEN, HOLLY K    20,000.00
100                 HERZOG, STANLEY M (STAN)    20,000.00
101              MURRAY, ROBERT EUGENE (BOB)    20,000.00
102                           GARDNER, WAYNE    20,000.00
103                          COURI, GERALD E    20,000.00
104                         KAMPHUIS, ROBERT    20,000.00
105                        VERSTANDIG, GRANT    20,000.00
106                        MOROUN, LINDSAY S    20,000.00
107                        MOROUN, MATTHEW T    20,000.00
108                         MOBERG, CLIFFORD    20,000.00
109                         BARRY, WILLIAM E    20,000.00
110                           HAWKINS, JAMES    20,000.00
111                        WASIULLAH, MASOOD    20,000.00
112                         BUNTROCK, DEAN L    20,000.00
113           COMMUNITY BANKERS OF WISCONSIN    20,000.00
114                    DARROW, SUSAN J (SUE)    20,000.00
115                MIZEL, LAWRENCE A (LARRY)    20,000.00
116                      BUNTROCK, ROSEMARIE    20,000.00
117                   KENDRICK, RANDY PARRIS    20,000.00
118                         BUHOLZER, RONALD    20,000.00
119                      CHARLES SR, DAVID R    20,000.00
120                KENDRICK JR, EARL G (KEN)    20,000.00
121            SHANNON, MICHAEL SCOTT (MIKE)    20,000.00
122                           FABICK, JERE C    20,000.00
123                            YOUNG, SANDRA    20,000.00
124                         MOSHER, GEORGE A    20,000.00
125                         WENDT, GREGORY W    20,000.00
126                        ZIEGLER, ANDREW A    20,000.00
127                       ROBERTS, TIMOTHY J    20,000.00
128                       ENGLISH, PATRICK J    20,000.00
129              KASTEN JR, GEORGE FREDERICK    20,000.00
130                         MACLEAN, BARRY L    20,000.00
131                           GRAEBEL, LINDA    20,000.00
132                         HERZING, HENRY G    20,000.00
133                     GROTHMANN, KENNETH W    20,000.00
134                       OZINGA III, MARTIN    20,000.00
135                     LOEB, DANEIL S (DAN)    20,000.00
136                       RUEDEBUSCH, CARL E    20,000.00
137                          WILKEY, SUSAN L    20,000.00
138                          JAMES, VIRGINIA    20,000.00
139                       HENDRICKS, DIANE M    20,000.00
140                          SHAFFER, JOHN E    20,000.00
141                        HOLLELDER, THOMAS    20,000.00
142                          NELSON, GRANT E    20,000.00
143                       JOHNSON SR, MARK O    20,000.00
144                         MOONEY, EDWARD P    20,000.00
145                         SHAFFER, KATHRYN    20,000.00
146                         FEDLER, RONALD G    20,000.00
147                     CATSIMATIDIS, JOHN A    20,000.00
148                        HOLLFELDER, BEA M    20,000.00
149                           HENDRY, SHARON    20,000.00
150                            ARIENS, JULIE    20,000.00
151                        LEVY JR, EDWARD C    20,000.00
152                            WENUM, JOHN V    20,000.00
153                      RUEDEBUSCH, DEBORAH    20,000.00
154                           BURKE, JOHN J.    20,000.00
155                           GRAEBEL, DAVID    20,000.00
156                         BURKE, KATHRYN M    20,000.00
157               FEINGOLD, JEFFERY P (JEFF)    20,000.00
158                     PEROT JR, HENRY ROSS    20,000.00
159             HENDRICKS, KIMBERLEE K (KIM)    20,000.00
160                          KOCH INDUSTRIES    20,000.00
161                          ROBERTS, DVORAH    20,000.00
162                 WILKEY, RICHARD L (DICK)    20,000.00
163                            BAUM, DAVID S    20,000.00
164                            RUPCICH, JOHN    20,000.00
165                        MENARD JR, JOHN R    20,000.00
166                             SUTER, BECKY    20,000.00
167       NORTHWESTERN MUTUAL LIFE INSURANCE    20,000.00
168                          BOYSA, STEVEN C    20,000.00
169                           JONAS, GLENN F    20,000.00
170                         MASTERSON, NANCY    20,000.00
171                        ENGLISH, RACHEL A    20,000.00
172                          CALLAN, JAMES J    20,000.00
173                         ANDERSON, JOHN R    20,000.00
174                            HERTOG, ROGER    20,000.00
175                          HENDRY, BRUCE E    20,000.00

## Calculate out-of-state contributions for Iowa's Cathy Glasson and Fred Hubbell through the primary election

Filter the data to return contributions to Fred Hubbell and Cathy Glasson through the June 5, 2018 primary.

In [19]:
hubbell_primary_contributions = contributions[(contributions["candidate_id"] == 264335) & (contributions["date"] <= "2018-06-05")]
glasson_primary_contributions = contributions[(contributions["candidate_id"] == 223996) & (contributions["date"] <= "2018-06-05")]

In [20]:
hubbell_primary_contributions.groupby("in_out_state")["amount"].sum()

in_out_state
in-state       5,072,593.32
out-of-state   1,019,312.25
unknown            8,415.00
Name: amount, dtype: float64

In [21]:
hubbell_primary_contributions["amount"].sum()

6100320.5700000003

In [22]:
glasson_primary_contributions.groupby("in_out_state")["amount"].sum()

in_out_state
in-state         109,689.90
out-of-state   2,064,815.92
Name: amount, dtype: float64

In [23]:
glasson_primary_contributions["amount"].sum()

2174505.8200000003

## Export the data to Excel.

In [24]:
contributions_by_candidate.to_excel("data/contributions_by_candidate.xlsx", index=False)