# Contributions from out-of-state donors

In [2]:
from functools import reduce
import numpy as np
import pandas as pd

%load_ext jupyternotify

pd.set_option("display.max_columns", 100)
pd.set_option("display.max_rows", 500)
pd.options.display.float_format = "{:,.2f}".format # Format floats

The jupyternotify extension is already loaded. To reload it, use:
  %reload_ext jupyternotify

Import [National Institute on Money in Politics](https://www.followthemoney.org/) API key.

In [2]:
nimp_key = open("nimp_api_key.txt", "r").readline()

## Import and format the data

### Import contribution-level data for gubernatorial, attorney general, secretary of state and state legislative races in 2018

In [ ]:
%%notify
contribs_18 = pd.read_csv("https://www.followthemoney.org/aaengine/aafetch.php?dt=1&y=2018&c-exi=1&c-r-oc=Z10,Z70&c-r-ot=G,S,H&gro=s,d-id&APIKey="+nimp_key+"&mode=csv",
                          encoding="ISO-8859-1", error_bad_lines=False)
contribs_18.to_csv("data/contribs_18.csv", index=False)

In [3]:
contribs_18 = pd.read_csv("data/contribs_18.csv", encoding="ISO-8859-1", error_bad_lines=False)
contribs_18.info()

b'Skipping line 1099594: expected 49 fields, saw 50\n'
/home/jyerardi/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (8,11,14,17,20,23,24,32,35,44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2118571 entries, 0 to 2118570
Data columns (total 49 columns):
request                        object
Election_Jurisdiction:token    object
Election_Jurisdiction:id       object
Election_Jurisdiction          object
Original_Name:token            object
Original_Name:id               int64
Original_Name                  object
Contributor:token              object
Contributor:id                 object
Contributor                    object
Type_of_Contributor:token      object
Type_of_Contributor:id         object
Type_of_Contributor            object
Specific_Business:token        object
Specific_Business:id           object
Specific_Business              object
General_Industry:token         object
General_Industry:id            object
General_Industry               object
Broad_Sector:token             object
Broad_Sector:id                object
Broad_Sector                   object
Amount:token                   object
Amount:id                      object
Amount                         object
Date:token                     object
Date:id                        object
Date                           object
Last_Updated:token             object
Last_Updated:id                object
Last_Updated                   object
Type_of_Transaction:token      object
Type_of_Transaction:id         object
Type_of_Transaction            object
Purpose:token                  object
Purpose:id                     object
Purpose                        object
City:token                     object
City:id                        object
City                           object
State:token                    object
State:id                       object
State                          object
Zip:token                      object
Zip:id                         object
Zip                            float64
In-State:token                 object
In-State:id                    float64
In-State                       float64
dtypes: float64(3), int64(1), object(45)
memory usage: 792.0+ MB

Convert the contribution amount column to numeric (float) data type.

In [4]:
contribs_18["Amount"] = pd.to_numeric(contribs_18["Amount"], errors="coerce")
contribs_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2118571 entries, 0 to 2118570
Data columns (total 49 columns):
request                        object
Election_Jurisdiction:token    object
Election_Jurisdiction:id       object
Election_Jurisdiction          object
Original_Name:token            object
Original_Name:id               int64
Original_Name                  object
Contributor:token              object
Contributor:id                 object
Contributor                    object
Type_of_Contributor:token      object
Type_of_Contributor:id         object
Type_of_Contributor            object
Specific_Business:token        object
Specific_Business:id           object
Specific_Business              object
General_Industry:token         object
General_Industry:id            object
General_Industry               object
Broad_Sector:token             object
Broad_Sector:id                object
Broad_Sector                   object
Amount:token                   object
Amount:id                      object
Amount                         float64
Date:token                     object
Date:id                        object
Date                           object
Last_Updated:token             object
Last_Updated:id                object
Last_Updated                   object
Type_of_Transaction:token      object
Type_of_Transaction:id         object
Type_of_Transaction            object
Purpose:token                  object
Purpose:id                     object
Purpose                        object
City:token                     object
City:id                        object
City                           object
State:token                    object
State:id                       object
State                          object
Zip:token                      object
Zip:id                         object
Zip                            float64
In-State:token                 object
In-State:id                    float64
In-State                       float64
dtypes: float64(4), int64(1), object(44)
memory usage: 792.0+ MB

Convert the contribution date column to datetime data type.

In [5]:
contribs_18["Date"] = pd.to_datetime(contribs_18["Date"], errors="coerce")
contribs_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2118571 entries, 0 to 2118570
Data columns (total 49 columns):
request                        object
Election_Jurisdiction:token    object
Election_Jurisdiction:id       object
Election_Jurisdiction          object
Original_Name:token            object
Original_Name:id               int64
Original_Name                  object
Contributor:token              object
Contributor:id                 object
Contributor                    object
Type_of_Contributor:token      object
Type_of_Contributor:id         object
Type_of_Contributor            object
Specific_Business:token        object
Specific_Business:id           object
Specific_Business              object
General_Industry:token         object
General_Industry:id            object
General_Industry               object
Broad_Sector:token             object
Broad_Sector:id                object
Broad_Sector                   object
Amount:token                   object
Amount:id                      object
Amount                         float64
Date:token                     object
Date:id                        object
Date                           datetime64[ns]
Last_Updated:token             object
Last_Updated:id                object
Last_Updated                   object
Type_of_Transaction:token      object
Type_of_Transaction:id         object
Type_of_Transaction            object
Purpose:token                  object
Purpose:id                     object
Purpose                        object
City:token                     object
City:id                        object
City                           object
State:token                    object
State:id                       object
State                          object
Zip:token                      object
Zip:id                         object
Zip                            float64
In-State:token                 object
In-State:id                    float64
In-State                       float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(43)
memory usage: 792.0+ MB

Filter out unitemized donations as it is impossible to determine where those contributions originated. Then filter the data to just the state, contribution amount, contribution date and in-vs.-out-of-state columns.

In [6]:
contribs_18 = contribs_18[contribs_18["Contributor"] != "UNITEMIZED DONATIONS"]
contribs_18 = contribs_18[["Election_Jurisdiction", "Amount", "Date", "In-State"]]
contribs_18.rename(columns={"Election_Jurisdiction": "state", "Amount": "amount", "Date": "date", "In-State": "in_out_state"}, inplace=True)
contribs_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2089975 entries, 0 to 2118570
Data columns (total 4 columns):
state           object
amount          float64
date            datetime64[ns]
in_out_state    float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 79.7+ MB

Rename the categories in the in-vs.-out-of-state column.

In [7]:
# 0 = out-of-state, 1 = in-state, 2 = unknown
contribs_18["in_out_state"] = contribs_18["in_out_state"].replace({0: "out-of-state", 1: "in-state", 2: "unknown"})
contribs_18.head(1)

  state      amount       date in_out_state
0    IL 50000000.00 2016-12-20     in-state

Extract the month and year from the contribution date column.

In [8]:
contribs_18["month"] = contribs_18["date"].dt.to_period("M")
contribs_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2089975 entries, 0 to 2118570
Data columns (total 5 columns):
state           object
amount          float64
date            datetime64[ns]
in_out_state    object
month           object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 95.7+ MB

Group the contributions by state and month.

In [9]:
grouped_by_month = contribs_18.groupby(["state", "month"])["amount"].sum().reset_index()
contribs_18.drop("month", axis=1, inplace=True) # The month column is no longer needed
grouped_by_month.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 3 columns):
state     1460 non-null object
month     1460 non-null object
amount    1460 non-null float64
dtypes: float64(1), object(2)
memory usage: 34.3+ KB

Because we eventually want to use each state's month column as the cut-off date for contributions, we need to add a day to the month and the year and then convert the column into datetime data type.

In [10]:
grouped_by_month["month"] = grouped_by_month["month"].astype(str) + "-28" # No month has fewer than 28 days
grouped_by_month["month"] = pd.to_datetime(grouped_by_month["month"], errors="coerce")
grouped_by_month.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 3 columns):
state     1460 non-null object
month     1460 non-null datetime64[ns]
amount    1460 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 34.3+ KB

In [11]:
grouped_by_month.head()

  state      month   amount
0    AK 2017-04-28   223.93
1    AK 2017-05-28  1177.04
2    AK 2017-06-28  1750.00
3    AK 2017-07-28  9684.21
4    AK 2017-08-28 63999.19

We know some of the contribution dates are wrong. We know this because some of the dates occur in the future and, unless we've got some time travelling campaign donors, these are data entry errors. To eliminate this noise, we will filter out months after August 2018 or months with fewer than $2,500 in contributions. This latter filter will catch contributions that were miscoded as occuring during or before August 2018.

In [12]:
grouped_by_month = grouped_by_month[(grouped_by_month["month"] <= "2018-08-28") & (grouped_by_month["amount"] >= 2500)]
grouped_by_month.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1173 entries, 3 to 1459
Data columns (total 3 columns):
state     1173 non-null object
month     1173 non-null datetime64[ns]
amount    1173 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 36.7+ KB

Return the most recent month with at least $2,500 in contributions for each state.

In [13]:
latest_month = grouped_by_month.groupby("state")["month"].max().reset_index()
latest_month.rename(columns={"month": "latest_month"}, inplace=True)
latest_month

   state latest_month
0     AK   2018-07-28
1     AL   2018-07-28
2     AR   2018-03-28
3     AZ   2017-12-28
4     CA   2018-07-28
5     CO   2018-06-28
6     CT   2018-03-28
7     FL   2018-08-28
8     GA   2018-07-28
9     HI   2017-12-28
10    IA   2018-07-28
11    ID   2018-08-28
12    IL   2018-06-28
13    IN   2018-04-28
14    KS   2017-12-28
15    KY   2018-07-28
16    LA   2018-03-28
17    MA   2018-06-28
18    MD   2018-06-28
19    ME   2018-05-28
20    MI   2018-07-28
21    MN   2017-12-28
22    MO   2017-12-28
23    NC   2018-04-28
24    NE   2018-05-28
25    NH   2017-12-28
26    NM   2018-06-28
27    NV   2017-12-28
28    NY   2018-05-28
29    OH   2018-06-28
30    OK   2017-12-28
31    OR   2018-05-28
32    PA   2018-05-28
33    RI   2017-12-28
34    SC   2018-05-28
35    SD   2016-12-28
36    TN   2018-04-28
37    TX   2018-06-28
38    VT   2016-12-28
39    WA   2018-04-28
40    WI   2018-06-28
41    WY   2017-12-28

### Import contribution-level data for gubernatorial, attorney general, secretary of state and state legislative races in 2014

In [ ]:
%%notify
contribs_14 = pd.read_csv("https://www.followthemoney.org/aaengine/aafetch.php?dt=1&y=2014&c-exi=1&c-r-oc=Z10,Z70&c-r-ot=G,S,H&gro=s,d-id&APIKey="+nimp_key+"&mode=csv",
                          encoding="ISO-8859-1", error_bad_lines=False)
contribs_14.to_csv("data/contribs_14.csv", index=False)

In [14]:
contribs_14 = pd.read_csv("data/contribs_14.csv", encoding="ISO-8859-1")
contribs_14.info()

/home/jyerardi/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3525121 entries, 0 to 3525120
Data columns (total 49 columns):
request                        object
Election_Jurisdiction:token    object
Election_Jurisdiction:id       object
Election_Jurisdiction          object
Original_Name:token            object
Original_Name:id               int64
Original_Name                  object
Contributor:token              object
Contributor:id                 int64
Contributor                    object
Type_of_Contributor:token      object
Type_of_Contributor:id         int64
Type_of_Contributor            object
Specific_Business:token        object
Specific_Business:id           int64
Specific_Business              object
General_Industry:token         object
General_Industry:id            int64
General_Industry               object
Broad_Sector:token             object
Broad_Sector:id                int64
Broad_Sector                   object
Amount:token                   object
Amount:id                      float64
Amount                         float64
Date:token                     object
Date:id                        object
Date                           object
Last_Updated:token             object
Last_Updated:id                object
Last_Updated                   object
Type_of_Transaction:token      object
Type_of_Transaction:id         int64
Type_of_Transaction            object
Purpose:token                  object
Purpose:id                     int64
Purpose                        object
City:token                     object
City:id                        object
City                           object
State:token                    object
State:id                       object
State                          object
Zip:token                      object
Zip:id                         float64
Zip                            float64
In-State:token                 object
In-State:id                    int64
In-State                       int64
dtypes: float64(4), int64(10), object(35)
memory usage: 1.3+ GB

Convert contribution amount column to numeric (float) data type.

In [15]:
contribs_14["Amount"] = pd.to_numeric(contribs_14["Amount"], errors="coerce")
contribs_14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3525121 entries, 0 to 3525120
Data columns (total 49 columns):
request                        object
Election_Jurisdiction:token    object
Election_Jurisdiction:id       object
Election_Jurisdiction          object
Original_Name:token            object
Original_Name:id               int64
Original_Name                  object
Contributor:token              object
Contributor:id                 int64
Contributor                    object
Type_of_Contributor:token      object
Type_of_Contributor:id         int64
Type_of_Contributor            object
Specific_Business:token        object
Specific_Business:id           int64
Specific_Business              object
General_Industry:token         object
General_Industry:id            int64
General_Industry               object
Broad_Sector:token             object
Broad_Sector:id                int64
Broad_Sector                   object
Amount:token                   object
Amount:id                      float64
Amount                         float64
Date:token                     object
Date:id                        object
Date                           object
Last_Updated:token             object
Last_Updated:id                object
Last_Updated                   object
Type_of_Transaction:token      object
Type_of_Transaction:id         int64
Type_of_Transaction            object
Purpose:token                  object
Purpose:id                     int64
Purpose                        object
City:token                     object
City:id                        object
City                           object
State:token                    object
State:id                       object
State                          object
Zip:token                      object
Zip:id                         float64
Zip                            float64
In-State:token                 object
In-State:id                    int64
In-State                       int64
dtypes: float64(4), int64(10), object(35)
memory usage: 1.3+ GB

Convert the contribution date column to datetime data type.

In [16]:
contribs_14["Date"] = pd.to_datetime(contribs_14["Date"], errors="coerce")
contribs_14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3525121 entries, 0 to 3525120
Data columns (total 49 columns):
request                        object
Election_Jurisdiction:token    object
Election_Jurisdiction:id       object
Election_Jurisdiction          object
Original_Name:token            object
Original_Name:id               int64
Original_Name                  object
Contributor:token              object
Contributor:id                 int64
Contributor                    object
Type_of_Contributor:token      object
Type_of_Contributor:id         int64
Type_of_Contributor            object
Specific_Business:token        object
Specific_Business:id           int64
Specific_Business              object
General_Industry:token         object
General_Industry:id            int64
General_Industry               object
Broad_Sector:token             object
Broad_Sector:id                int64
Broad_Sector                   object
Amount:token                   object
Amount:id                      float64
Amount                         float64
Date:token                     object
Date:id                        object
Date                           datetime64[ns]
Last_Updated:token             object
Last_Updated:id                object
Last_Updated                   object
Type_of_Transaction:token      object
Type_of_Transaction:id         int64
Type_of_Transaction            object
Purpose:token                  object
Purpose:id                     int64
Purpose                        object
City:token                     object
City:id                        object
City                           object
State:token                    object
State:id                       object
State                          object
Zip:token                      object
Zip:id                         float64
Zip                            float64
In-State:token                 object
In-State:id                    int64
In-State                       int64
dtypes: datetime64[ns](1), float64(4), int64(10), object(34)
memory usage: 1.3+ GB

Filter out unitemized donations as it is impossible to determine where those contributions originated. Then filter the data to just the state, contribution amount, contribution date and in-vs.-out-of-state columns.

In [17]:
contribs_14 = contribs_14[contribs_14["Contributor"] != "UNITEMIZED DONATIONS"]
contribs_14 = contribs_14[["Election_Jurisdiction", "Amount", "Date", "In-State"]]
contribs_14.rename(columns={"Election_Jurisdiction": "state", "Amount": "amount", "Date": "date", "In-State": "in_out_state"}, inplace=True)
contribs_14.head(1)

  state      amount       date  in_out_state
0    IL 10000000.00 2014-12-31             1

Rename the categories in the in-vs.-out-of-state column.

In [18]:
# 0 = out-of-state, 1 = in-state, 2 = unknown
contribs_14["in_out_state"] = contribs_14["in_out_state"].replace({0: "out-of-state", 1: "in-state", 2: "unknown"})
contribs_14.head(1)

  state      amount       date in_out_state
0    IL 10000000.00 2014-12-31     in-state

### Import contribution-level data for gubernatorial, attorney general, secretary of state and state legislative races in 2010

In [ ]:
%%notify
contribs_10 = pd.read_csv("https://www.followthemoney.org/aaengine/aafetch.php?dt=1&y=2010&c-exi=1&c-r-oc=Z10,Z70&c-r-ot=G,S,H&gro=s,d-id&APIKey="+nimp_key+"&mode=csv",
                          encoding="ISO-8859-1")
contribs_10.to_csv("data/contribs_10.csv", index=False)

In [19]:
contribs_10 = pd.read_csv("data/contribs_10.csv", encoding="ISO-8859-1")
contribs_10.info()

/home/jyerardi/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3459166 entries, 0 to 3459165
Data columns (total 49 columns):
request                        object
Election_Jurisdiction:token    object
Election_Jurisdiction:id       object
Election_Jurisdiction          object
Original_Name:token            object
Original_Name:id               int64
Original_Name                  object
Contributor:token              object
Contributor:id                 int64
Contributor                    object
Type_of_Contributor:token      object
Type_of_Contributor:id         int64
Type_of_Contributor            object
Specific_Business:token        object
Specific_Business:id           int64
Specific_Business              object
General_Industry:token         object
General_Industry:id            int64
General_Industry               object
Broad_Sector:token             object
Broad_Sector:id                int64
Broad_Sector                   object
Amount:token                   object
Amount:id                      float64
Amount                         float64
Date:token                     object
Date:id                        object
Date                           object
Last_Updated:token             object
Last_Updated:id                object
Last_Updated                   object
Type_of_Transaction:token      object
Type_of_Transaction:id         int64
Type_of_Transaction            object
Purpose:token                  object
Purpose:id                     int64
Purpose                        object
City:token                     object
City:id                        object
City                           object
State:token                    object
State:id                       object
State                          object
Zip:token                      object
Zip:id                         float64
Zip                            float64
In-State:token                 object
In-State:id                    int64
In-State                       int64
dtypes: float64(4), int64(10), object(35)
memory usage: 1.3+ GB

Convert contribution amount column to numeric (float) data type.

In [20]:
contribs_10["Amount"] = pd.to_numeric(contribs_10["Amount"], errors="coerce")
contribs_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3459166 entries, 0 to 3459165
Data columns (total 49 columns):
request                        object
Election_Jurisdiction:token    object
Election_Jurisdiction:id       object
Election_Jurisdiction          object
Original_Name:token            object
Original_Name:id               int64
Original_Name                  object
Contributor:token              object
Contributor:id                 int64
Contributor                    object
Type_of_Contributor:token      object
Type_of_Contributor:id         int64
Type_of_Contributor            object
Specific_Business:token        object
Specific_Business:id           int64
Specific_Business              object
General_Industry:token         object
General_Industry:id            int64
General_Industry               object
Broad_Sector:token             object
Broad_Sector:id                int64
Broad_Sector                   object
Amount:token                   object
Amount:id                      float64
Amount                         float64
Date:token                     object
Date:id                        object
Date                           object
Last_Updated:token             object
Last_Updated:id                object
Last_Updated                   object
Type_of_Transaction:token      object
Type_of_Transaction:id         int64
Type_of_Transaction            object
Purpose:token                  object
Purpose:id                     int64
Purpose                        object
City:token                     object
City:id                        object
City                           object
State:token                    object
State:id                       object
State                          object
Zip:token                      object
Zip:id                         float64
Zip                            float64
In-State:token                 object
In-State:id                    int64
In-State                       int64
dtypes: float64(4), int64(10), object(35)
memory usage: 1.3+ GB

Convert the contribution date column to datetime data type.

In [21]:
contribs_10["Date"] = pd.to_datetime(contribs_10["Date"], errors="coerce")
contribs_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3459166 entries, 0 to 3459165
Data columns (total 49 columns):
request                        object
Election_Jurisdiction:token    object
Election_Jurisdiction:id       object
Election_Jurisdiction          object
Original_Name:token            object
Original_Name:id               int64
Original_Name                  object
Contributor:token              object
Contributor:id                 int64
Contributor                    object
Type_of_Contributor:token      object
Type_of_Contributor:id         int64
Type_of_Contributor            object
Specific_Business:token        object
Specific_Business:id           int64
Specific_Business              object
General_Industry:token         object
General_Industry:id            int64
General_Industry               object
Broad_Sector:token             object
Broad_Sector:id                int64
Broad_Sector                   object
Amount:token                   object
Amount:id                      float64
Amount                         float64
Date:token                     object
Date:id                        object
Date                           datetime64[ns]
Last_Updated:token             object
Last_Updated:id                object
Last_Updated                   object
Type_of_Transaction:token      object
Type_of_Transaction:id         int64
Type_of_Transaction            object
Purpose:token                  object
Purpose:id                     int64
Purpose                        object
City:token                     object
City:id                        object
City                           object
State:token                    object
State:id                       object
State                          object
Zip:token                      object
Zip:id                         float64
Zip                            float64
In-State:token                 object
In-State:id                    int64
In-State                       int64
dtypes: datetime64[ns](1), float64(4), int64(10), object(34)
memory usage: 1.3+ GB

Filter out unitemized donations as it is impossible to determine where those contributions originated. Then filter the data to just the state, contribution amount, contribution date and in-vs.-out-of-state columns.

In [22]:
contribs_10 = contribs_10[contribs_10["Contributor"] != "UNITEMIZED DONATIONS"]
contribs_10 = contribs_10[["Election_Jurisdiction", "Amount", "Date", "In-State"]]
contribs_10.rename(columns={"Election_Jurisdiction": "state", "Amount": "amount", "Date": "date", "In-State": "in_out_state"}, inplace=True)
contribs_10.head(1)

  state      amount       date  in_out_state
0    CA 20000000.00 2010-01-19             1

Rename the categories in the in-vs.-out-of-state column.

In [23]:
# 0 = out-of-state, 1 = in-state, 2 = unknown
contribs_10["in_out_state"] = contribs_10["in_out_state"].replace({0: "out-of-state", 1: "in-state", 2: "unknown"})
contribs_10.head(1)

  state      amount       date in_out_state
0    CA 20000000.00 2010-01-19     in-state

### Import contributor-level data for gubernatorial, attorney general, secretary of state and state legislative races in 2018

In [ ]:
%%notify
contributors_18 = pd.read_csv("https://www.followthemoney.org/aaengine/aafetch.php?dt=1&y=2018&c-exi=1&c-r-oc=Z10,Z70&c-r-ot=G,S,H&gro=c-t-id,d-eid,d-ins&APIKey="+nimp_key+"&mode=csv",
                          encoding="ISO-8859-1", error_bad_lines=False)
contributors_18.to_csv("data/candidates_18.csv", index=False)

In [24]:
contributors_18 = pd.read_csv("data/contributors_18.csv", encoding="ISO-8859-1")
contributors_18.info()

/home/jyerardi/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1510733 entries, 0 to 1510732
Data columns (total 45 columns):
request                        1510733 non-null object
Candidate:token                1510733 non-null object
Candidate:id                   1510733 non-null int64
Candidate                      1510733 non-null object
Candidate_Entity:token         1510733 non-null object
Candidate_Entity:id            1510733 non-null object
Candidate_Entity               1510733 non-null object
Election_Status:token          1510733 non-null object
Election_Status:id             1510733 non-null object
Election_Status                1510733 non-null object
Status_of_Candidate:token      1510733 non-null object
Status_of_Candidate:id         1510733 non-null int64
Status_of_Candidate            1510733 non-null object
Specific_Party:token           1510733 non-null object
Specific_Party:id              1510733 non-null int64
Specific_Party                 1510733 non-null object
General_Party:token            1510733 non-null object
General_Party:id               1510733 non-null int64
General_Party                  1510733 non-null object
Election_Jurisdiction:token    1510733 non-null object
Election_Jurisdiction:id       1510733 non-null object
Election_Jurisdiction          1510733 non-null object
Election_Year:token            1510733 non-null object
Election_Year:id               1510733 non-null int64
Election_Year                  1510733 non-null int64
Election_Type:token            1510733 non-null object
Election_Type:id               1510733 non-null int64
Election_Type                  1510733 non-null object
Office_Sought:token            1510733 non-null object
Office_Sought:id               1510733 non-null int64
Office_Sought                  1510733 non-null object
Incumbency_Status:token        1510733 non-null object
Incumbency_Status:id           1510733 non-null object
Incumbency_Status              1510733 non-null object
Contributor:token              1510733 non-null object
Contributor:id                 1510733 non-null int64
Contributor                    1510693 non-null object
Type_of_Contributor:token      1510733 non-null object
Type_of_Contributor:id         1510733 non-null int64
Type_of_Contributor            1510733 non-null object
In-State:token                 1510733 non-null object
In-State:id                    1510733 non-null int64
In-State                       1510733 non-null int64
#_of_Records                   1510733 non-null int64
Total_$                        1510733 non-null float64
dtypes: float64(1), int64(13), object(31)
memory usage: 518.7+ MB

Filter out unitemized donations as it is impossible to determine where those contributions originated. Then filter the data to just the candidate, candidate ID, state, district, in-vs.-out-of-state and total contributions columns.

In [25]:
contributors_18 = contributors_18[contributors_18["Contributor"] != "UNITEMIZED DONATIONS"]
contributors_18 = contributors_18[["Candidate", "Candidate:id", "Election_Jurisdiction", "Office_Sought", "In-State", "Total_$"]]
contributors_18.rename(columns={"Candidate": "candidate", "Candidate:id": "candidate_id", "Election_Jurisdiction": "state", "Office_Sought": "district", "In-State": "in_out_state", "Total_$": "contributions"}, inplace=True)
contributors_18.head(1)

,candidate,candidate_id,state,district,in_out_state,contributions
0,"PRITZKER, JAY ROBERT (J B) & STRATTON, JULIANA W",223590,IL,GOVERNOR / LIEUTENANT GOVERNOR,1,106500034.95

Rename the categories in the in-vs.-out-of-state column.

In [26]:
# 0 = out-of-state, 1 = in-state, 2 = unknown
contributors_18["in_out_state"] = contributors_18["in_out_state"].replace({0: "out-of-state", 1: "in-state", 2: "unknown"})
contributors_18.head(1)

,candidate,candidate_id,state,district,in_out_state,contributions
0,"PRITZKER, JAY ROBERT (J B) & STRATTON, JULIANA W",223590,IL,GOVERNOR / LIEUTENANT GOVERNOR,in-state,106500034.95

## Join and filter the data

### Join the table of the 2018 cycle's latest contribution months with the 2018, 2014 and 2010 contribution-level data

In [27]:
contribs_18 = contribs_18.merge(latest_month, on="state")
contribs_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2089946 entries, 0 to 2089945
Data columns (total 5 columns):
state           object
amount          float64
date            datetime64[ns]
in_out_state    object
latest_month    datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(2)
memory usage: 95.7+ MB

In [28]:
contribs_18.head(1)

  state      amount       date in_out_state latest_month
0    IL 50000000.00 2016-12-20     in-state   2018-06-28

In [29]:
contribs_14 = contribs_14.merge(latest_month, on="state")
contribs_14.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3399817 entries, 0 to 3399816
Data columns (total 5 columns):
state           object
amount          float64
date            datetime64[ns]
in_out_state    object
latest_month    datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(2)
memory usage: 155.6+ MB

Convert the year in the latest month column to its equivalent in the relevant election cycle.

In [30]:
# 2017 = 2013, 2018 = 2014
contribs_14["latest_month"] = contribs_14["latest_month"].mask(contribs_14["latest_month"].dt.year == 2017, contribs_14["latest_month"] + pd.offsets.DateOffset(year=2013))
contribs_14["latest_month"] = contribs_14["latest_month"].mask(contribs_14["latest_month"].dt.year == 2018, contribs_14["latest_month"] + pd.offsets.DateOffset(year=2014))
contribs_14.head(1)

/home/jyerardi/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/datetimes.py:962: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  "or DatetimeIndex", PerformanceWarning)

  state      amount       date in_out_state latest_month
0    IL 10000000.00 2014-12-31     in-state   2014-06-28

In [31]:
contribs_10 = contribs_10.merge(latest_month, on="state")
contribs_10.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3329803 entries, 0 to 3329802
Data columns (total 5 columns):
state           object
amount          float64
date            datetime64[ns]
in_out_state    object
latest_month    datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(2)
memory usage: 152.4+ MB

Convert the year in the latest month column to its equivalent in the relevant election cycle.

In [32]:
# 2017 = 2009, 2018 = 2010
contribs_10["latest_month"] = contribs_10["latest_month"].mask(contribs_10["latest_month"].dt.year == 2017, contribs_10["latest_month"] + pd.offsets.DateOffset(year=2009))
contribs_10["latest_month"] = contribs_10["latest_month"].mask(contribs_10["latest_month"].dt.year == 2018, contribs_10["latest_month"] + pd.offsets.DateOffset(year=2010))
contribs_10.head(1)

/home/jyerardi/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/datetimes.py:962: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  "or DatetimeIndex", PerformanceWarning)

  state      amount       date in_out_state latest_month
0    CA 20000000.00 2010-01-19     in-state   2010-07-28

In [33]:
contribs_10.head(1)

  state      amount       date in_out_state latest_month
0    CA 20000000.00 2010-01-19     in-state   2010-07-28

### Filter the data to eliminate contributions after the 2018 cycle's latest contribution month in each state

In [34]:
contribs_18 = contribs_18[contribs_18["date"] <= contribs_18["latest_month"]]
contribs_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2073429 entries, 0 to 2089944
Data columns (total 5 columns):
state           object
amount          float64
date            datetime64[ns]
in_out_state    object
latest_month    datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(2)
memory usage: 94.9+ MB

In [35]:
contribs_18.head(1)

  state      amount       date in_out_state latest_month
0    IL 50000000.00 2016-12-20     in-state   2018-06-28

In [36]:
contribs_14 = contribs_14[contribs_14["date"] <= contribs_14["latest_month"]]
contribs_14.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1802201 entries, 3 to 3399729
Data columns (total 5 columns):
state           object
amount          float64
date            datetime64[ns]
in_out_state    object
latest_month    datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(2)
memory usage: 82.5+ MB

In [37]:
contribs_14.head(1)

  state     amount       date in_out_state latest_month
3    IL 2500000.00 2014-06-11     in-state   2014-06-28

In [38]:
contribs_10 = contribs_10[contribs_10["date"] <= contribs_10["latest_month"]]
contribs_10.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1748378 entries, 0 to 3329802
Data columns (total 5 columns):
state           object
amount          float64
date            datetime64[ns]
in_out_state    object
latest_month    datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(2)
memory usage: 80.0+ MB

In [39]:
contribs_10.head(1)

  state      amount       date in_out_state latest_month
0    CA 20000000.00 2010-01-19     in-state   2010-07-28

## Analyze the data

### Calculate the proportion of contributions from out-of-state each election cycle

### Calculate out-of-state contributions by state in 2018

Calculate contributions by in-vs.-out-of-state status and group by state.

In [77]:
contribs_by_state_18 = contribs_18.groupby(["state", "in_out_state"])["amount"].sum().reset_index()
contribs_by_state_18.rename(columns={"amount": "contributions_18"}, inplace=True)
contribs_by_state_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 3 columns):
state               120 non-null object
in_out_state        120 non-null object
contributions_18    120 non-null float64
dtypes: float64(1), object(2)
memory usage: 2.9+ KB

In [78]:
contribs_by_state_18.head()

  state  in_out_state  contributions_18
0    AK      in-state        3761979.27
1    AK  out-of-state         185829.48
2    AK       unknown           9343.86
3    AL      in-state       38606724.15
4    AL  out-of-state        3509914.99

Pivot dataframe to aggregate each state's data in a single row.

In [79]:
contribs_by_state_18 = pd.pivot_table(contribs_by_state_18, index=["state"], columns=["in_out_state"]).reset_index()
contribs_by_state_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 4 columns):
(state, )                           42 non-null object
(contributions_18, in-state)        41 non-null float64
(contributions_18, out-of-state)    41 non-null float64
(contributions_18, unknown)         38 non-null float64
dtypes: float64(3), object(1)
memory usage: 1.4+ KB

It appears that some states have no contributions categorized as "unknown." Let's set those values equal to zero to be sure any calculations we run on them are correct.

In [80]:
contribs_by_state_18.fillna(0, inplace=True)
contribs_by_state_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 4 columns):
(state, )                           42 non-null object
(contributions_18, in-state)        42 non-null float64
(contributions_18, out-of-state)    42 non-null float64
(contributions_18, unknown)         42 non-null float64
dtypes: float64(3), object(1)
memory usage: 1.4+ KB

Flatten the resulting dataframe's multi-index columns.

In [81]:
contribs_by_state_18.columns = ["_".join(column).replace("-","_").strip("_") for column in contribs_by_state_18.columns.values]
contribs_by_state_18 = contribs_by_state_18.merge(latest_month, on="state")
contribs_by_state_18.rename(columns={"latest_month": "latest_month_18"}, inplace=True)
contribs_by_state_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42 entries, 0 to 41
Data columns (total 5 columns):
state                            42 non-null object
contributions_18_in_state        42 non-null float64
contributions_18_out_of_state    42 non-null float64
contributions_18_unknown         42 non-null float64
latest_month_18                  42 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 2.0+ KB

Calculate the proportion of out-of-state contributions.

In [82]:
contribs_by_state_18["pct_18_out_of_state"] = contribs_by_state_18["contributions_18_out_of_state"] / (contribs_by_state_18["contributions_18_in_state"] + contribs_by_state_18["contributions_18_out_of_state"] + contribs_by_state_18["contributions_18_unknown"])
contribs_by_state_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42 entries, 0 to 41
Data columns (total 6 columns):
state                            42 non-null object
contributions_18_in_state        42 non-null float64
contributions_18_out_of_state    42 non-null float64
contributions_18_unknown         42 non-null float64
latest_month_18                  42 non-null datetime64[ns]
pct_18_out_of_state              42 non-null float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 2.3+ KB

### Calculate out-of-state contributions by state in 2014

Calculate contributions by in-vs.-out-of-state status and group by state.

In [89]:
contribs_by_state_14 = contribs_14.groupby(["state", "in_out_state"])["amount"].sum().reset_index()
contribs_by_state_14.rename(columns={"amount": "contributions_14"}, inplace=True)
contribs_by_state_14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 3 columns):
state               121 non-null object
in_out_state        121 non-null object
contributions_14    121 non-null float64
dtypes: float64(1), object(2)
memory usage: 2.9+ KB

In [90]:
contribs_by_state_14.head()

  state  in_out_state  contributions_14
0    AK      in-state        4317169.35
1    AK  out-of-state         225928.05
2    AK       unknown            200.00
3    AL      in-state       34227125.33
4    AL  out-of-state        2813671.25

Pivot dataframe to aggregate each state's data in a single row.

In [91]:
contribs_by_state_14 = pd.pivot_table(contribs_by_state_14, index=["state"], columns=["in_out_state"]).reset_index()
contribs_by_state_14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 4 columns):
(state, )                           41 non-null object
(contributions_14, in-state)        41 non-null float64
(contributions_14, out-of-state)    41 non-null float64
(contributions_14, unknown)         39 non-null float64
dtypes: float64(3), object(1)
memory usage: 1.4+ KB

It appears that some states have no contributions categorized as "unknown." Let's set those values equal to zero to be sure any calculations we run on them are correct.

In [92]:
contribs_by_state_14.fillna(0, inplace=True)
contribs_by_state_14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 4 columns):
(state, )                           41 non-null object
(contributions_14, in-state)        41 non-null float64
(contributions_14, out-of-state)    41 non-null float64
(contributions_14, unknown)         41 non-null float64
dtypes: float64(3), object(1)
memory usage: 1.4+ KB

Flatten the resulting dataframe's multi-index columns.

In [93]:
contribs_by_state_14.columns = ["_".join(column).replace("-","_").strip("_") for column in contribs_by_state_14.columns.values]
contribs_by_state_14 = contribs_by_state_14.merge(latest_month, on="state")
contribs_by_state_14.rename(columns={"latest_month": "latest_month_14"}, inplace=True)
contribs_by_state_14.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41 entries, 0 to 40
Data columns (total 5 columns):
state                            41 non-null object
contributions_14_in_state        41 non-null float64
contributions_14_out_of_state    41 non-null float64
contributions_14_unknown         41 non-null float64
latest_month_14                  41 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 1.9+ KB

Calculate the proportion of out-of-state contributions.

In [94]:
contribs_by_state_14["pct_14_out_of_state"] = contribs_by_state_14["contributions_14_out_of_state"] / (contribs_by_state_14["contributions_14_in_state"] + contribs_by_state_14["contributions_14_out_of_state"] + contribs_by_state_14["contributions_14_unknown"])
contribs_by_state_14.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41 entries, 0 to 40
Data columns (total 6 columns):
state                            41 non-null object
contributions_14_in_state        41 non-null float64
contributions_14_out_of_state    41 non-null float64
contributions_14_unknown         41 non-null float64
latest_month_14                  41 non-null datetime64[ns]
pct_14_out_of_state              41 non-null float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 2.2+ KB

### Calculate out-of-state contributions by state in 2010

Calculate contributions by in-vs.-out-of-state status and group by state.

In [95]:
contribs_by_state_10 = contribs_10.groupby(["state", "in_out_state"])["amount"].sum().reset_index()
contribs_by_state_10.rename(columns={"amount": "contributions_10"}, inplace=True)
contribs_by_state_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 3 columns):
state               117 non-null object
in_out_state        117 non-null object
contributions_10    117 non-null float64
dtypes: float64(1), object(2)
memory usage: 2.8+ KB

In [96]:
contribs_by_state_10.head()

  state  in_out_state  contributions_10
0    AK      in-state        4453472.71
1    AK  out-of-state         220586.95
2    AK       unknown           3417.35
3    AL      in-state       49265134.88
4    AL  out-of-state        2549822.90

Pivot dataframe to aggregate each state's data in a single row.

In [97]:
contribs_by_state_10 = pd.pivot_table(contribs_by_state_10, index=["state"], columns=["in_out_state"]).reset_index()
contribs_by_state_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 4 columns):
(state, )                           41 non-null object
(contributions_10, in-state)        41 non-null float64
(contributions_10, out-of-state)    41 non-null float64
(contributions_10, unknown)         35 non-null float64
dtypes: float64(3), object(1)
memory usage: 1.4+ KB

It appears that some states have no contributions categorized as "unknown." Let's set those values equal to zero to be sure any calculations we run on them are correct.

In [98]:
contribs_by_state_10.fillna(0, inplace=True)
contribs_by_state_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 4 columns):
(state, )                           41 non-null object
(contributions_10, in-state)        41 non-null float64
(contributions_10, out-of-state)    41 non-null float64
(contributions_10, unknown)         41 non-null float64
dtypes: float64(3), object(1)
memory usage: 1.4+ KB

Flatten the resulting dataframe's multi-index columns.

In [99]:
contribs_by_state_10.columns = ["_".join(column).replace("-","_").strip("_") for column in contribs_by_state_10.columns.values]
contribs_by_state_10 = contribs_by_state_10.merge(latest_month, on="state")
contribs_by_state_10.rename(columns={"latest_month": "latest_month_10"}, inplace=True)
contribs_by_state_10.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41 entries, 0 to 40
Data columns (total 5 columns):
state                            41 non-null object
contributions_10_in_state        41 non-null float64
contributions_10_out_of_state    41 non-null float64
contributions_10_unknown         41 non-null float64
latest_month_10                  41 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 1.9+ KB

Calculate the proportion of out-of-state contributions.

In [100]:
contribs_by_state_10["pct_10_out_of_state"] = contribs_by_state_10["contributions_10_out_of_state"] / (contribs_by_state_10["contributions_10_in_state"] + contribs_by_state_10["contributions_10_out_of_state"] + contribs_by_state_10["contributions_10_unknown"])
contribs_by_state_10.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41 entries, 0 to 40
Data columns (total 6 columns):
state                            41 non-null object
contributions_10_in_state        41 non-null float64
contributions_10_out_of_state    41 non-null float64
contributions_10_unknown         41 non-null float64
latest_month_10                  41 non-null datetime64[ns]
pct_10_out_of_state              41 non-null float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 2.2+ KB

### Join the 2018, 2014 and 2010 contributions by state data and calculate out-of-state figures

In [101]:
list_of_contribs_by_state = [contribs_by_state_18, contribs_by_state_14, contribs_by_state_10]
contribs_by_state = reduce(lambda left, right: pd.merge(left, right, on="state"), list_of_contribs_by_state)
contribs_by_state

,state,contributions_18_in_state,contributions_18_out_of_state,contributions_18_unknown,latest_month_18,pct_18_out_of_state,contributions_14_in_state,contributions_14_out_of_state,contributions_14_unknown,latest_month_14,pct_14_out_of_state,contributions_10_in_state,contributions_10_out_of_state,contributions_10_unknown,latest_month_10,pct_10_out_of_state
0,AK,3761979.27,185829.48,9343.86,2018-07-28,0.05,4317169.35,225928.05,200.00,2018-07-28,0.05,4453472.71,220586.95,3417.35,2018-07-28,0.05
1,AL,38606724.15,3509914.99,750342.89,2018-07-28,0.08,34227125.33,2813671.25,28102.53,2018-07-28,0.08,49265134.88,2549822.90,203308.72,2018-07-28,0.05
2,AR,8041656.93,1028099.01,101023.95,2018-03-28,0.11,10815624.44,1540814.50,108411.96,2018-03-28,0.12,6519555.62,812923.84,39828.32,2018-03-28,0.11
3,AZ,6393754.83,1485774.55,112341.49,2017-12-28,0.19,4636616.00,761785.23,2950.00,2017-12-28,0.14,1646015.09,159145.71,0.00,2017-12-28,0.09
4,CA,161377400.97,21986862.92,206490.11,2018-07-28,0.12,97202680.89,13749369.08,32338.83,2018-07-28,0.12,244977981.11,15029650.99,22382.81,2018-07-28,0.06
5,CO,29453109.87,3803974.94,129842.15,2018-06-28,0.11,9441948.59,1378513.97,5186.67,2018-06-28,0.13,7057970.04,908339.73,-5119.09,2018-06-28,0.11
6,CT,2712839.12,119512.00,150.00,2018-03-28,0.04,851386.61,76075.00,1621.82,2018-03-28,0.08,3263032.53,354954.55,50.00,2018-03-28,0.10
7,FL,102715412.45,6938527.22,2520372.21,2018-08-28,0.06,39664617.00,3839833.59,69790.88,2018-08-28,0.09,96462601.21,4768849.13,170402.38,2018-08-28,0.05
8,GA,37067696.47,5873099.41,13850.00,2018-07-28,0.14,26639081.37,5655233.06,1000.00,2018-07-28,0.18,35195924.45,5324416.95,1925.00,2018-07-28,0.13
9,HI,3384761.81,521055.00,191284.31,2017-12-28,0.13,3832319.31,728060.12,0.00,2017-12-28,0.16,1712958.67,275440.00,0.00,2017-12-28,0.14
10,IA,20638014.19,8581899.73,14446.39,2018-07-28,0.29,10798733.33,3307637.45,100.00,2018-07-28,0.23,15307588.75,4803934.40,166051.18,2018-07-28,0.24
11,ID,10472722.99,1603633.15,2020.00,2018-08-28,0.13,6050133.03,1415549.95,14857.42,2018-08-28,0.19,3861732.75,891591.62,1527.04,2018-08-28,0.19
12,IL,266548804.14,14695149.46,83129.49,2018-06-28,0.05,60751842.55,12540388.40,15024.97,2018-06-28,0.17,61680202.36,6095747.07,1545525.03,2018-06-28,0.09
13,IN,6799006.73,1256774.85,17614.94,2018-04-28,0.16,6696584.90,1058166.92,9280.00,2018-04-28,0.14,5967092.86,824168.77,6234.41,2018-04-28,0.12
14,KS,4196275.10,1258336.03,20493.02,2017-12-28,0.23,3258274.20,1013394.73,19633.38,2017-12-28,0.24,2133663.87,945861.80,3257.00,2017-12-28,0.31
15,KY,5911252.03,842197.97,339728.79,2018-07-28,0.12,7338777.83,631183.04,22827.41,2018-07-28,0.08,6024797.45,446861.49,433.07,2018-07-28,0.07
16,MA,24958971.92,2916313.19,904004.22,2018-06-28,0.10,20627082.29,3516687.91,3730770.20,2018-06-28,0.13,25544418.96,2127695.30,43429.51,2018-06-28,0.08
17,MD,43937575.05,13076554.31,2293750.12,2018-06-28,0.22,38309121.21,8532791.38,1212248.96,2018-06-28,0.18,25725629.26,6099789.23,23866.60,2018-06-28,0.19
18,ME,5589753.91,712105.30,0.00,2018-05-28,0.11,3304059.31,825458.32,1144.17,2018-05-28,0.20,8684767.69,892507.96,7725.17,2018-05-28,0.09
19,MI,50110970.75,5249713.25,115489.04,2018-07-28,0.09,34605937.64,2525524.46,20428.25,2018-07-28,0.07,38169795.36,1739881.69,41641.22,2018-07-28,0.04
20,MN,2333836.43,173602.00,-2841.15,2017-12-28,0.07,2518829.07,443359.18,9850.00,2017-12-28,0.15,1247766.07,121442.42,1481.13,2017-12-28,0.09
21,MO,91106.85,5527.81,0.00,2017-12-28,0.06,6673771.35,1136639.80,106795.00,2017-12-28,0.14,7063487.97,830797.32,16365.10,2017-12-28,0.11
22,NC,14651816.89,1532369.05,8259.94,2018-04-28,0.09,12583032.84,1285213.53,29763.63,2018-04-28,0.09,10216522.84,930602.91,16906.52,2018-04-28,0.08
23,NE,3656761.54,1554718.25,2093.77,2018-05-28,0.30,10504220.79,2231676.23,17918.00,2018-05-28,0.17,3164238.81,1126667.91,-396088.72,2018-05-28,0.29
24,NH,747706.24,306858.75,1570.00,2017-12-28,0.29,932764.49,434858.03,11175.00,2017-12-28,0.32,380930.83,134310.00,6560.00,2017-12-28,0.26
25,NM,12345746.58,3218047.62,151106.52,2018-06-28,0.20,9495435.47,4024754.34,36153.51,2018-06-28,0.30,11045772.71,2836479.25,606177.07,2018-06-28,0.20
26,NV,4472228.45,1243646.00,15305.00,2017-12-28,0.22,7816387.94,1883495.77,16275.00,2017-12-28,0.19,4115240.63,698652.96,52485.00,2017-12-28,0.14
27,NY,18604705.06,3807770.41,165507.63,2018-05-28,0.17,49864930.34,9512695.42,235214.73,2018-05-28,0.16,46971804.73,7258956.15,336638.05,2018-05-28,0.13
28,OH,47835365.90,7862010.40,121697.35,2018-06-28,0.14,39943440.26,6038958.72,144194.75,2018-06-28,0.13,40700506.84,6139314.47,304378.39,2018-06-28,0.13
29,OK,10299721.97,993476.65,1333129.65,2017-12-28,0.08,5894410.59,908015.24,-2900.00,2017-12-28,0.13,7969271.52,681865.24,0.00,2017-12-28,0.08
30,OR,12724108.38,3445710.62,166815.00,2018-05-28,0.21,9610846.82,1473960.91,7081.34,2018-05-28,0.13,9392900.62,1773034.32,3390.00,2018-05-28,0.16
31,PA,50295460.34,8360473.24,8051.50,2018-05-28,0.14,73354672.27,13750538.20,32354.40,2018-05-28,0.16,51501196.69,5223577.91,98349.01,2018-05-28,0.09
32,RI,2651879.77,2459387.77,98549.45,2017-12-28,0.47,3684281.22,1699150.13,23100.00,2017-12-28,0.31,2307368.25,424549.59,8450.00,2017-12-28,0.15
33,SC,17132496.52,3017460.07,130447.68,2018-05-28,0.15,11684158.93,4276335.24,0.00,2018-05-28,0.27,12008093.45,2151930.95,0.00,2018-05-28,0.15
34,SD,0.00,0.00,1637986.00,2016-12-28,0.00,30995.00,19000.00,3450.00,2016-12-28,0.36,57401.16,2984.17,0.00,2016-12-28,0.05
35,TN,39528417.59,1856635.85,128966.60,2018-04-28,0.04,11169680.46,1448709.03,25600.00,2018-04-28,0.11,17978004.86,2290745.94,49237.00,2018-04-28,0.11
36,TX,169185341.93,10931297.58,122628.02,2018-06-28,0.06,109562387.62,7726451.65,12816686.19,2018-06-28,0.06,128093600.13,9711794.35,14060.00,2018-06-28,0.07
37,VT,9.99,4000.00,0.00,2016-12-28,1.00,1260367.05,911995.80,5620.00,2016-12-28,0.42,3836951.08,1192212.15,7385.83,2016-12-28,0.24
38,WA,2505001.65,702800.10,16364.36,2018-04-28,0.22,3996551.11,865847.06,6328.92,2018-04-28,0.18,3960453.13,841414.25,9874.09,2018-04-28,0.17
39,WI,23028798.19,13290424.62,576157.06,2018-06-28,0.36,17002198.01,10926356.89,23416.32,2018-06-28,0.39,16635774.34,1296884.24,18562.00,2018-06-28,0.07
40,WY,334150.23,33650.00,293.00,2017-12-28,0.09,37112.14,15375.00,250.00,2017-12-28,0.29,288423.34,26915.00,0.00,2017-12-28,0.09

Calculate the change in out-of-state spending, in absolute and proportional terms.

In [102]:
contribs_by_state["change_from_14"] = contribs_by_state["contributions_18_out_of_state"] - contribs_by_state["contributions_14_out_of_state"]
contribs_by_state["change_from_10"] = contribs_by_state["contributions_18_out_of_state"] - contribs_by_state["contributions_10_out_of_state"]
contribs_by_state["pct_change_from_14"] = (contribs_by_state["contributions_18_out_of_state"] - contribs_by_state["contributions_14_out_of_state"]) / contribs_by_state["contributions_14_out_of_state"]
contribs_by_state["pct_change_from_10"] = (contribs_by_state["contributions_18_out_of_state"] - contribs_by_state["contributions_10_out_of_state"]) / contribs_by_state["contributions_10_out_of_state"]

Convert the year in the latest month column to its equivalent in the relevant election cycle.

In [104]:
contribs_by_state["latest_month_14"] = contribs_by_state["latest_month_14"].mask(contribs_by_state["latest_month_14"].dt.year == 2017, contribs_by_state["latest_month_14"] + pd.offsets.DateOffset(year=2013))
contribs_by_state["latest_month_14"] = contribs_by_state["latest_month_14"].mask(contribs_by_state["latest_month_14"].dt.year == 2018, contribs_by_state["latest_month_14"] + pd.offsets.DateOffset(year=2014))
contribs_by_state["latest_month_10"] = contribs_by_state["latest_month_10"].mask(contribs_by_state["latest_month_10"].dt.year == 2017, contribs_by_state["latest_month_10"] + pd.offsets.DateOffset(year=2009))
contribs_by_state["latest_month_10"] = contribs_by_state["latest_month_10"].mask(contribs_by_state["latest_month_10"].dt.year == 2018, contribs_by_state["latest_month_10"] + pd.offsets.DateOffset(year=2010))
contribs_by_state.head(1)

/home/jyerardi/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/datetimes.py:962: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  "or DatetimeIndex", PerformanceWarning)

,state,contributions_18_in_state,contributions_18_out_of_state,contributions_18_unknown,latest_month_18,pct_18_out_of_state,contributions_14_in_state,contributions_14_out_of_state,contributions_14_unknown,latest_month_14,pct_14_out_of_state,contributions_10_in_state,contributions_10_out_of_state,contributions_10_unknown,latest_month_10,pct_10_out_of_state,change_from_14,change_from_10,pct_change_from_14,pct_change_from_10
0,AK,3761979.27,185829.48,9343.86,2018-07-28,0.05,4317169.35,225928.05,200.00,2014-07-28,0.05,4453472.71,220586.95,3417.35,2010-07-28,0.05,-40098.57,-34757.47,-0.18,-0.16

Export the data to Excel.

In [105]:
contribs_by_state.to_excel("data/contribs_by_state.xlsx", index=False)

### Calculate out-of-state contributions by candidate in 2018

In [106]:
contribs_by_candidate_18 = contributors_18.groupby(["candidate", "state", "district", "in_out_state"])["contributions"].sum().reset_index()
contribs_by_candidate_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14697 entries, 0 to 14696
Data columns (total 5 columns):
candidate        14697 non-null object
state            14697 non-null object
district         14697 non-null object
in_out_state     14697 non-null object
contributions    14697 non-null float64
dtypes: float64(1), object(4)
memory usage: 574.2+ KB

In [107]:
contribs_by_candidate_18.head()

         candidate state            district  in_out_state  contributions
0  ABBOTT, DAVID H    IN  HOUSE DISTRICT 082      in-state       26065.00
1    ABBOTT, GHERT    AK  HOUSE DISTRICT 036      in-state          45.90
2     ABBOTT, GREG    TX            GOVERNOR      in-state    61189628.95
3     ABBOTT, GREG    TX            GOVERNOR  out-of-state     4590344.58
4     ABBOTT, GREG    TX            GOVERNOR       unknown        1020.00

Pivot dataframe to aggregate each candidate's data in a single row.

In [108]:
contribs_by_candidate_18 = pd.pivot_table(contribs_by_candidate_18, index=["candidate", "state", "district"], columns=["in_out_state"]).reset_index()
contribs_by_candidate_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7398 entries, 0 to 7397
Data columns (total 6 columns):
(candidate, )                    7398 non-null object
(state, )                        7398 non-null object
(district, )                     7398 non-null object
(contributions, in-state)        7354 non-null float64
(contributions, out-of-state)    5804 non-null float64
(contributions, unknown)         1539 non-null float64
dtypes: float64(3), object(3)
memory usage: 346.9+ KB

Again, some records have no contributions for certain categories. Let's set those values equal to zero to be sure any calculations we run on them are correct.

In [109]:
contribs_by_candidate_18.fillna(0, inplace=True)
contribs_by_candidate_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7398 entries, 0 to 7397
Data columns (total 6 columns):
(candidate, )                    7398 non-null object
(state, )                        7398 non-null object
(district, )                     7398 non-null object
(contributions, in-state)        7398 non-null float64
(contributions, out-of-state)    7398 non-null float64
(contributions, unknown)         7398 non-null float64
dtypes: float64(3), object(3)
memory usage: 346.9+ KB

Flatten the resulting dataframe's multi-index columns.

In [110]:
contribs_by_candidate_18.columns = ["_".join(column).replace("-","_").strip("_") for column in contribs_by_candidate_18.columns.values]
contribs_by_candidate_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7398 entries, 0 to 7397
Data columns (total 6 columns):
candidate                     7398 non-null object
state                         7398 non-null object
district                      7398 non-null object
contributions_in_state        7398 non-null float64
contributions_out_of_state    7398 non-null float64
contributions_unknown         7398 non-null float64
dtypes: float64(3), object(3)
memory usage: 346.9+ KB

Calculate the proportion of in-vs.-out-of-state contributions.

In [111]:
contribs_by_candidate_18["pct_out_of_state"] = contribs_by_candidate_18["contributions_out_of_state"] / (contribs_by_candidate_18["contributions_in_state"] + contribs_by_candidate_18["contributions_out_of_state"] + contribs_by_candidate_18["contributions_unknown"])
contribs_by_candidate_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7398 entries, 0 to 7397
Data columns (total 7 columns):
candidate                     7398 non-null object
state                         7398 non-null object
district                      7398 non-null object
contributions_in_state        7398 non-null float64
contributions_out_of_state    7398 non-null float64
contributions_unknown         7398 non-null float64
pct_out_of_state              7398 non-null float64
dtypes: float64(4), object(3)
memory usage: 404.7+ KB

Export the data to Excel.

In [112]:
contribs_by_candidate_18.to_excel("data/contribs_by_candidate_18.xlsx", index=False)

## Key findings

In [129]:
contribs_18["amount"].sum()

1438439125.7900002

In [126]:
contribs_18.groupby("in_out_state")["amount"].sum()

in_out_state
in-state        1.265455e+09
out-of-state    1.604762e+08
unknown         1.250780e+07
Name: amount, dtype: float64

In [131]:
contribs_14["amount"].sum()

966983285.76999962

In [132]:
contribs_14.groupby("in_out_state")["amount"].sum()

in_out_state
in-state        8.109896e+08
out-of-state    1.371495e+08
unknown         1.884424e+07
Name: amount, dtype: float64

In [133]:
contribs_10["amount"].sum()

1126987443.3900001

In [134]:
contribs_10.groupby("in_out_state")["amount"].sum()

in_out_state
in-state        1.022590e+09
out-of-state    1.009673e+08
unknown         3.430096e+06
Name: amount, dtype: float64

In [135]:
contribs_by_state.sort_values("pct_18_out_of_state", ascending=False)

,state,contributions_18_in_state,contributions_18_out_of_state,contributions_18_unknown,pct_18_out_of_state,contributions_14_in_state,contributions_14_out_of_state,contributions_14_unknown,pct_14_out_of_state,contributions_10_in_state,contributions_10_out_of_state,contributions_10_unknown,pct_10_out_of_state,change_from_14,change_from_10,pct_change_from_14,pct_change_from_10
37,VT,9.990000e+00,4000.00,0.00,0.997509,1.260367e+06,911995.80,5620.00,0.418734,3.836951e+06,1192212.15,7385.83,0.236712,-907995.80,-1188212.15,-0.995614,-0.996645
32,RI,2.651880e+06,2459387.77,98549.45,0.472068,3.684281e+06,1699150.13,23100.00,0.314277,2.307368e+06,424549.59,8450.00,0.154924,760237.64,2034838.18,0.447422,4.792934
39,WI,2.302880e+07,13290424.62,576157.06,0.360219,1.700220e+07,10926356.89,23416.32,0.390898,1.663577e+07,1296884.24,18562.00,0.072245,2364067.73,11993540.38,0.216364,9.247965
23,NE,3.656762e+06,1554718.25,2093.77,0.298206,1.050422e+07,2231676.23,17918.00,0.174981,3.164239e+06,1126667.91,-396088.72,0.289274,-676957.98,428050.34,-0.303341,0.379926
10,IA,2.063801e+07,8581899.73,14446.39,0.293555,1.079873e+07,3307637.45,100.00,0.234477,1.530759e+07,4803934.40,166051.18,0.236909,5274262.28,3777965.33,1.594571,0.786431
24,NH,7.477062e+05,306858.75,1570.00,0.290549,9.327645e+05,434858.03,11175.00,0.315389,3.809308e+05,134310.00,6560.00,0.257397,-127999.28,172548.75,-0.294347,1.284705
14,KS,4.196275e+06,1258336.03,20493.02,0.229829,3.258274e+06,1013394.73,19633.38,0.236151,2.133664e+06,945861.80,3257.00,0.306821,244941.30,312474.23,0.241704,0.330359
17,MD,4.393758e+07,13076554.31,2293750.12,0.220486,3.830912e+07,8532791.38,1212248.96,0.177566,2.572563e+07,6099789.23,23866.60,0.191520,4543762.93,6976765.08,0.532506,1.143772
38,WA,2.505002e+06,702800.10,16364.36,0.217979,3.996551e+06,865847.06,6328.92,0.177838,3.960453e+06,841414.25,9874.09,0.174867,-163046.96,-138614.15,-0.188309,-0.164739
26,NV,4.472228e+06,1243646.00,15305.00,0.216997,7.816388e+06,1883495.77,16275.00,0.193852,4.115241e+06,698652.96,52485.00,0.143567,-639849.77,544993.04,-0.339714,0.780063
30,OR,1.272411e+07,3445710.62,166815.00,0.210919,9.610847e+06,1473960.91,7081.34,0.132886,9.392901e+06,1773034.32,3390.00,0.158741,1971749.71,1672676.30,1.337722,0.943398
25,NM,1.234575e+07,3218047.62,151106.52,0.204777,9.495435e+06,4024754.34,36153.51,0.296891,1.104577e+07,2836479.25,606177.07,0.195775,-806706.72,381568.37,-0.200436,0.134522
3,AZ,6.393755e+06,1485774.55,112341.49,0.185911,4.636616e+06,761785.23,2950.00,0.141036,1.646015e+06,159145.71,0.00,0.088162,723989.32,1326628.84,0.950385,8.335938
27,NY,1.860471e+07,3807770.41,165507.63,0.168650,4.986493e+07,9512695.42,235214.73,0.159575,4.697180e+07,7258956.15,336638.05,0.133027,-5704925.01,-3451185.74,-0.599717,-0.475438
13,IN,6.799007e+06,1256774.85,17614.94,0.155669,6.696585e+06,1058166.92,9280.00,0.136291,5.967093e+06,824168.77,6234.41,0.121246,198607.93,432606.08,0.187691,0.524900
33,SC,1.713250e+07,3017460.07,130447.68,0.148787,1.168416e+07,4276335.24,0.00,0.267933,1.200809e+07,2151930.95,0.00,0.151972,-1258875.17,865529.12,-0.294382,0.402210
31,PA,5.029546e+07,8360473.24,8051.50,0.142515,7.335467e+07,13750538.20,32354.40,0.157803,5.150120e+07,5223577.91,98349.01,0.091927,-5390064.96,3136895.33,-0.391989,0.600526
28,OH,4.783537e+07,7862010.40,121697.35,0.140848,3.994344e+07,6038958.72,144194.75,0.130921,4.070051e+07,6139314.47,304378.39,0.130224,1823051.68,1722695.93,0.301882,0.280601
8,GA,3.706770e+07,5873099.41,13850.00,0.136728,2.663908e+07,5655233.06,1000.00,0.175110,3.519592e+07,5324416.95,1925.00,0.131395,217866.35,548682.46,0.038525,0.103050
11,ID,1.047272e+07,1603633.15,2020.00,0.132769,6.050133e+06,1415549.95,14857.42,0.189231,3.861733e+06,891591.62,1527.04,0.187512,188083.20,712041.53,0.132869,0.798618
9,HI,3.384762e+06,521055.00,191284.31,0.127177,3.832319e+06,728060.12,0.00,0.159649,1.712959e+06,275440.00,0.00,0.138524,-207005.12,245615.00,-0.284324,0.891719
4,CA,1.613774e+08,21986862.92,206490.11,0.119773,9.720268e+07,13749369.08,32338.83,0.123886,2.449780e+08,15029650.99,22382.81,0.057800,8237493.84,6957211.93,0.599118,0.462899
15,KY,5.911252e+06,842197.97,339728.79,0.118734,7.338778e+06,631183.04,22827.41,0.078969,6.024797e+06,446861.49,433.07,0.069044,211014.93,395336.48,0.334317,0.884696
5,CO,2.945311e+07,3803974.94,129842.15,0.113936,9.441949e+06,1378513.97,5186.67,0.127338,7.057970e+06,908339.73,-5119.09,0.114096,2425460.97,2895635.21,1.759475,3.187833
18,ME,5.589754e+06,712105.30,0.00,0.112999,3.304059e+06,825458.32,1144.17,0.199837,8.684768e+06,892507.96,7725.17,0.093115,-113353.02,-180402.66,-0.137321,-0.202130
2,AR,8.041657e+06,1028099.01,101023.95,0.112106,1.081562e+07,1540814.50,108411.96,0.123613,6.519556e+06,812923.84,39828.32,0.110267,-512715.49,215175.17,-0.332756,0.264693
16,MA,2.495897e+07,2916313.19,904004.22,0.101334,2.062708e+07,3516687.91,3730770.20,0.126161,2.554442e+07,2127695.30,43429.51,0.076769,-600374.72,788617.89,-0.170722,0.370644
22,NC,1.465182e+07,1532369.05,8259.94,0.094635,1.258303e+07,1285213.53,29763.63,0.092475,1.021652e+07,930602.91,16906.52,0.083357,247155.52,601766.14,0.192307,0.646641
19,MI,5.011097e+07,5249713.25,115489.04,0.094630,3.460594e+07,2525524.46,20428.25,0.067978,3.816980e+07,1739881.69,41641.22,0.043550,2724188.79,3509831.56,1.078663,2.017282
40,WY,3.341502e+05,33650.00,293.00,0.091417,3.711214e+04,15375.00,250.00,0.291540,2.884233e+05,26915.00,0.00,0.085353,18275.00,6735.00,1.188618,0.250232
1,AL,3.860672e+07,3509914.99,750342.89,0.081879,3.422713e+07,2813671.25,28102.53,0.075904,4.926513e+07,2549822.90,203308.72,0.049018,696243.74,960092.09,0.247450,0.376533
29,OK,1.029972e+07,993476.65,1333129.65,0.078683,5.894411e+06,908015.24,-2900.00,0.133541,7.969272e+06,681865.24,0.00,0.078818,85461.41,311611.41,0.094119,0.456999
20,MN,2.333836e+06,173602.00,-2841.15,0.069313,2.518829e+06,443359.18,9850.00,0.149177,1.247766e+06,121442.42,1481.13,0.088600,-269757.18,52159.58,-0.608439,0.429500
7,FL,1.027154e+08,6938527.22,2520372.21,0.061855,3.966462e+07,3839833.59,69790.88,0.088122,9.646260e+07,4768849.13,170402.38,0.047029,3098693.63,2169678.09,0.806986,0.454969
36,TX,1.691853e+08,10931297.58,122628.02,0.060649,1.095624e+08,7726451.65,12816686.19,0.059386,1.280936e+08,9711794.35,14060.00,0.070468,3204845.93,1219503.23,0.414789,0.125569
21,MO,9.110685e+04,5527.81,0.00,0.057203,6.673771e+06,1136639.80,106795.00,0.143566,7.063488e+06,830797.32,16365.10,0.105023,-1131111.99,-825269.51,-0.995137,-0.993346
12,IL,2.665488e+08,14695149.46,83129.49,0.052235,6.075184e+07,12540388.40,15024.97,0.171066,6.168020e+07,6095747.07,1545525.03,0.087934,2154761.06,8599402.39,0.171826,1.410722
0,AK,3.761979e+06,185829.48,9343.86,0.046960,4.317169e+06,225928.05,200.00,0.049728,4.453473e+06,220586.95,3417.35,0.047159,-40098.57,-34757.47,-0.177484,-0.157568
35,TN,3.952842e+07,1856635.85,128966.60,0.044723,1.116968e+07,1448709.03,25600.00,0.114577,1.797800e+07,2290745.94,49237.00,0.112745,407926.82,-434110.09,0.281580,-0.189506
6,CT,2.712839e+06,119512.00,150.00,0.042193,8.513866e+05,76075.00,1621.82,0.081882,3.263033e+06,354954.55,50.00,0.098107,43437.00,-235442.55,0.570976,-0.663303
34,SD,0.000000e+00,0.00,1637986.00,0.000000,3.099500e+04,19000.00,3450.00,0.355506,5.740116e+04,2984.17,0.00,0.049419,-19000.00,-2984.17,-1.000000,-1.000000

### In which states has the proportion of out-of-state funding increased the most relative to 2014?

In [114]:
contribs_by_state.sort_values("pct_change_from_14", ascending=False)

,state,contributions_18_in_state,contributions_18_out_of_state,contributions_18_unknown,pct_18_out_of_state,contributions_14_in_state,contributions_14_out_of_state,contributions_14_unknown,pct_14_out_of_state,contributions_10_in_state,contributions_10_out_of_state,contributions_10_unknown,pct_10_out_of_state,change_from_14,change_from_10,pct_change_from_14,pct_change_from_10
5,CO,2.945311e+07,3803974.94,129842.15,0.113936,9.441949e+06,1378513.97,5186.67,0.127338,7.057970e+06,908339.73,-5119.09,0.114096,2425460.97,2895635.21,1.759475,3.187833
10,IA,2.063801e+07,8581899.73,14446.39,0.293555,1.079873e+07,3307637.45,100.00,0.234477,1.530759e+07,4803934.40,166051.18,0.236909,5274262.28,3777965.33,1.594571,0.786431
30,OR,1.272411e+07,3445710.62,166815.00,0.210919,9.610847e+06,1473960.91,7081.34,0.132886,9.392901e+06,1773034.32,3390.00,0.158741,1971749.71,1672676.30,1.337722,0.943398
40,WY,3.341502e+05,33650.00,293.00,0.091417,3.711214e+04,15375.00,250.00,0.291540,2.884233e+05,26915.00,0.00,0.085353,18275.00,6735.00,1.188618,0.250232
19,MI,5.011097e+07,5249713.25,115489.04,0.094630,3.460594e+07,2525524.46,20428.25,0.067978,3.816980e+07,1739881.69,41641.22,0.043550,2724188.79,3509831.56,1.078663,2.017282
3,AZ,6.393755e+06,1485774.55,112341.49,0.185911,4.636616e+06,761785.23,2950.00,0.141036,1.646015e+06,159145.71,0.00,0.088162,723989.32,1326628.84,0.950385,8.335938
7,FL,1.027154e+08,6938527.22,2520372.21,0.061855,3.966462e+07,3839833.59,69790.88,0.088122,9.646260e+07,4768849.13,170402.38,0.047029,3098693.63,2169678.09,0.806986,0.454969
4,CA,1.613774e+08,21986862.92,206490.11,0.119773,9.720268e+07,13749369.08,32338.83,0.123886,2.449780e+08,15029650.99,22382.81,0.057800,8237493.84,6957211.93,0.599118,0.462899
6,CT,2.712839e+06,119512.00,150.00,0.042193,8.513866e+05,76075.00,1621.82,0.081882,3.263033e+06,354954.55,50.00,0.098107,43437.00,-235442.55,0.570976,-0.663303
17,MD,4.393758e+07,13076554.31,2293750.12,0.220486,3.830912e+07,8532791.38,1212248.96,0.177566,2.572563e+07,6099789.23,23866.60,0.191520,4543762.93,6976765.08,0.532506,1.143772
32,RI,2.651880e+06,2459387.77,98549.45,0.472068,3.684281e+06,1699150.13,23100.00,0.314277,2.307368e+06,424549.59,8450.00,0.154924,760237.64,2034838.18,0.447422,4.792934
36,TX,1.691853e+08,10931297.58,122628.02,0.060649,1.095624e+08,7726451.65,12816686.19,0.059386,1.280936e+08,9711794.35,14060.00,0.070468,3204845.93,1219503.23,0.414789,0.125569
15,KY,5.911252e+06,842197.97,339728.79,0.118734,7.338778e+06,631183.04,22827.41,0.078969,6.024797e+06,446861.49,433.07,0.069044,211014.93,395336.48,0.334317,0.884696
28,OH,4.783537e+07,7862010.40,121697.35,0.140848,3.994344e+07,6038958.72,144194.75,0.130921,4.070051e+07,6139314.47,304378.39,0.130224,1823051.68,1722695.93,0.301882,0.280601
35,TN,3.952842e+07,1856635.85,128966.60,0.044723,1.116968e+07,1448709.03,25600.00,0.114577,1.797800e+07,2290745.94,49237.00,0.112745,407926.82,-434110.09,0.281580,-0.189506
1,AL,3.860672e+07,3509914.99,750342.89,0.081879,3.422713e+07,2813671.25,28102.53,0.075904,4.926513e+07,2549822.90,203308.72,0.049018,696243.74,960092.09,0.247450,0.376533
14,KS,4.196275e+06,1258336.03,20493.02,0.229829,3.258274e+06,1013394.73,19633.38,0.236151,2.133664e+06,945861.80,3257.00,0.306821,244941.30,312474.23,0.241704,0.330359
39,WI,2.302880e+07,13290424.62,576157.06,0.360219,1.700220e+07,10926356.89,23416.32,0.390898,1.663577e+07,1296884.24,18562.00,0.072245,2364067.73,11993540.38,0.216364,9.247965
22,NC,1.465182e+07,1532369.05,8259.94,0.094635,1.258303e+07,1285213.53,29763.63,0.092475,1.021652e+07,930602.91,16906.52,0.083357,247155.52,601766.14,0.192307,0.646641
13,IN,6.799007e+06,1256774.85,17614.94,0.155669,6.696585e+06,1058166.92,9280.00,0.136291,5.967093e+06,824168.77,6234.41,0.121246,198607.93,432606.08,0.187691,0.524900
12,IL,2.665488e+08,14695149.46,83129.49,0.052235,6.075184e+07,12540388.40,15024.97,0.171066,6.168020e+07,6095747.07,1545525.03,0.087934,2154761.06,8599402.39,0.171826,1.410722
11,ID,1.047272e+07,1603633.15,2020.00,0.132769,6.050133e+06,1415549.95,14857.42,0.189231,3.861733e+06,891591.62,1527.04,0.187512,188083.20,712041.53,0.132869,0.798618
29,OK,1.029972e+07,993476.65,1333129.65,0.078683,5.894411e+06,908015.24,-2900.00,0.133541,7.969272e+06,681865.24,0.00,0.078818,85461.41,311611.41,0.094119,0.456999
8,GA,3.706770e+07,5873099.41,13850.00,0.136728,2.663908e+07,5655233.06,1000.00,0.175110,3.519592e+07,5324416.95,1925.00,0.131395,217866.35,548682.46,0.038525,0.103050
18,ME,5.589754e+06,712105.30,0.00,0.112999,3.304059e+06,825458.32,1144.17,0.199837,8.684768e+06,892507.96,7725.17,0.093115,-113353.02,-180402.66,-0.137321,-0.202130
16,MA,2.495897e+07,2916313.19,904004.22,0.101334,2.062708e+07,3516687.91,3730770.20,0.126161,2.554442e+07,2127695.30,43429.51,0.076769,-600374.72,788617.89,-0.170722,0.370644
0,AK,3.761979e+06,185829.48,9343.86,0.046960,4.317169e+06,225928.05,200.00,0.049728,4.453473e+06,220586.95,3417.35,0.047159,-40098.57,-34757.47,-0.177484,-0.157568
38,WA,2.505002e+06,702800.10,16364.36,0.217979,3.996551e+06,865847.06,6328.92,0.177838,3.960453e+06,841414.25,9874.09,0.174867,-163046.96,-138614.15,-0.188309,-0.164739
25,NM,1.234575e+07,3218047.62,151106.52,0.204777,9.495435e+06,4024754.34,36153.51,0.296891,1.104577e+07,2836479.25,606177.07,0.195775,-806706.72,381568.37,-0.200436,0.134522
9,HI,3.384762e+06,521055.00,191284.31,0.127177,3.832319e+06,728060.12,0.00,0.159649,1.712959e+06,275440.00,0.00,0.138524,-207005.12,245615.00,-0.284324,0.891719
24,NH,7.477062e+05,306858.75,1570.00,0.290549,9.327645e+05,434858.03,11175.00,0.315389,3.809308e+05,134310.00,6560.00,0.257397,-127999.28,172548.75,-0.294347,1.284705
33,SC,1.713250e+07,3017460.07,130447.68,0.148787,1.168416e+07,4276335.24,0.00,0.267933,1.200809e+07,2151930.95,0.00,0.151972,-1258875.17,865529.12,-0.294382,0.402210
23,NE,3.656762e+06,1554718.25,2093.77,0.298206,1.050422e+07,2231676.23,17918.00,0.174981,3.164239e+06,1126667.91,-396088.72,0.289274,-676957.98,428050.34,-0.303341,0.379926
2,AR,8.041657e+06,1028099.01,101023.95,0.112106,1.081562e+07,1540814.50,108411.96,0.123613,6.519556e+06,812923.84,39828.32,0.110267,-512715.49,215175.17,-0.332756,0.264693
26,NV,4.472228e+06,1243646.00,15305.00,0.216997,7.816388e+06,1883495.77,16275.00,0.193852,4.115241e+06,698652.96,52485.00,0.143567,-639849.77,544993.04,-0.339714,0.780063
31,PA,5.029546e+07,8360473.24,8051.50,0.142515,7.335467e+07,13750538.20,32354.40,0.157803,5.150120e+07,5223577.91,98349.01,0.091927,-5390064.96,3136895.33,-0.391989,0.600526
27,NY,1.860471e+07,3807770.41,165507.63,0.168650,4.986493e+07,9512695.42,235214.73,0.159575,4.697180e+07,7258956.15,336638.05,0.133027,-5704925.01,-3451185.74,-0.599717,-0.475438
20,MN,2.333836e+06,173602.00,-2841.15,0.069313,2.518829e+06,443359.18,9850.00,0.149177,1.247766e+06,121442.42,1481.13,0.088600,-269757.18,52159.58,-0.608439,0.429500
21,MO,9.110685e+04,5527.81,0.00,0.057203,6.673771e+06,1136639.80,106795.00,0.143566,7.063488e+06,830797.32,16365.10,0.105023,-1131111.99,-825269.51,-0.995137,-0.993346
37,VT,9.990000e+00,4000.00,0.00,0.997509,1.260367e+06,911995.80,5620.00,0.418734,3.836951e+06,1192212.15,7385.83,0.236712,-907995.80,-1188212.15,-0.995614,-0.996645
34,SD,0.000000e+00,0.00,1637986.00,0.000000,3.099500e+04,19000.00,3450.00,0.355506,5.740116e+04,2984.17,0.00,0.049419,-19000.00,-2984.17,-1.000000,-1.000000

The proportion of out-of-state funding has more than doubled in five states (Colorado, Iowa, Oregon, Wyoming and Michigan) as compared with this point in the 2014 cycle.

### In which states has the proportion of out-of-state funding increased the most relative to 2010?

In [143]:
contribs_by_state.sort_values("pct_change_from_10", ascending=False)

,state,contributions_18_in_state,contributions_18_out_of_state,contributions_18_unknown,pct_18_out_of_state,contributions_14_in_state,contributions_14_out_of_state,contributions_14_unknown,pct_14_out_of_state,contributions_10_in_state,contributions_10_out_of_state,contributions_10_unknown,pct_10_out_of_state,change_from_14,change_from_10,pct_change_from_14,pct_change_from_10
39,WI,23028798.19,13290424.62,576157.06,0.36,17002198.01,10926356.89,23416.32,0.39,16635774.34,1296884.24,18562.00,0.07,2364067.73,11993540.38,0.22,9.25
3,AZ,6393754.83,1485774.55,112341.49,0.19,4636616.00,761785.23,2950.00,0.14,1646015.09,159145.71,0.00,0.09,723989.32,1326628.84,0.95,8.34
32,RI,2651879.77,2459387.77,98549.45,0.47,3684281.22,1699150.13,23100.00,0.31,2307368.25,424549.59,8450.00,0.15,760237.64,2034838.18,0.45,4.79
5,CO,29453109.87,3803974.94,129842.15,0.11,9441948.59,1378513.97,5186.67,0.13,7057970.04,908339.73,-5119.09,0.11,2425460.97,2895635.21,1.76,3.19
19,MI,50110970.75,5249713.25,115489.04,0.09,34605937.64,2525524.46,20428.25,0.07,38169795.36,1739881.69,41641.22,0.04,2724188.79,3509831.56,1.08,2.02
12,IL,266548804.14,14695149.46,83129.49,0.05,60751842.55,12540388.40,15024.97,0.17,61680202.36,6095747.07,1545525.03,0.09,2154761.06,8599402.39,0.17,1.41
24,NH,747706.24,306858.75,1570.00,0.29,932764.49,434858.03,11175.00,0.32,380930.83,134310.00,6560.00,0.26,-127999.28,172548.75,-0.29,1.28
17,MD,43937575.05,13076554.31,2293750.12,0.22,38309121.21,8532791.38,1212248.96,0.18,25725629.26,6099789.23,23866.60,0.19,4543762.93,6976765.08,0.53,1.14
30,OR,12724108.38,3445710.62,166815.00,0.21,9610846.82,1473960.91,7081.34,0.13,9392900.62,1773034.32,3390.00,0.16,1971749.71,1672676.30,1.34,0.94
9,HI,3384761.81,521055.00,191284.31,0.13,3832319.31,728060.12,0.00,0.16,1712958.67,275440.00,0.00,0.14,-207005.12,245615.00,-0.28,0.89
15,KY,5911252.03,842197.97,339728.79,0.12,7338777.83,631183.04,22827.41,0.08,6024797.45,446861.49,433.07,0.07,211014.93,395336.48,0.33,0.88
11,ID,10472722.99,1603633.15,2020.00,0.13,6050133.03,1415549.95,14857.42,0.19,3861732.75,891591.62,1527.04,0.19,188083.20,712041.53,0.13,0.80
10,IA,20638014.19,8581899.73,14446.39,0.29,10798733.33,3307637.45,100.00,0.23,15307588.75,4803934.40,166051.18,0.24,5274262.28,3777965.33,1.59,0.79
26,NV,4472228.45,1243646.00,15305.00,0.22,7816387.94,1883495.77,16275.00,0.19,4115240.63,698652.96,52485.00,0.14,-639849.77,544993.04,-0.34,0.78
22,NC,14651816.89,1532369.05,8259.94,0.09,12583032.84,1285213.53,29763.63,0.09,10216522.84,930602.91,16906.52,0.08,247155.52,601766.14,0.19,0.65
31,PA,50295460.34,8360473.24,8051.50,0.14,73354672.27,13750538.20,32354.40,0.16,51501196.69,5223577.91,98349.01,0.09,-5390064.96,3136895.33,-0.39,0.60
13,IN,6799006.73,1256774.85,17614.94,0.16,6696584.90,1058166.92,9280.00,0.14,5967092.86,824168.77,6234.41,0.12,198607.93,432606.08,0.19,0.52
4,CA,161377400.97,21986862.92,206490.11,0.12,97202680.89,13749369.08,32338.83,0.12,244977981.11,15029650.99,22382.81,0.06,8237493.84,6957211.93,0.60,0.46
29,OK,10299721.97,993476.65,1333129.65,0.08,5894410.59,908015.24,-2900.00,0.13,7969271.52,681865.24,0.00,0.08,85461.41,311611.41,0.09,0.46
7,FL,102715412.45,6938527.22,2520372.21,0.06,39664617.00,3839833.59,69790.88,0.09,96462601.21,4768849.13,170402.38,0.05,3098693.63,2169678.09,0.81,0.45
20,MN,2333836.43,173602.00,-2841.15,0.07,2518829.07,443359.18,9850.00,0.15,1247766.07,121442.42,1481.13,0.09,-269757.18,52159.58,-0.61,0.43
33,SC,17132496.52,3017460.07,130447.68,0.15,11684158.93,4276335.24,0.00,0.27,12008093.45,2151930.95,0.00,0.15,-1258875.17,865529.12,-0.29,0.40
23,NE,3656761.54,1554718.25,2093.77,0.30,10504220.79,2231676.23,17918.00,0.17,3164238.81,1126667.91,-396088.72,0.29,-676957.98,428050.34,-0.30,0.38
1,AL,38606724.15,3509914.99,750342.89,0.08,34227125.33,2813671.25,28102.53,0.08,49265134.88,2549822.90,203308.72,0.05,696243.74,960092.09,0.25,0.38
16,MA,24958971.92,2916313.19,904004.22,0.10,20627082.29,3516687.91,3730770.20,0.13,25544418.96,2127695.30,43429.51,0.08,-600374.72,788617.89,-0.17,0.37
14,KS,4196275.10,1258336.03,20493.02,0.23,3258274.20,1013394.73,19633.38,0.24,2133663.87,945861.80,3257.00,0.31,244941.30,312474.23,0.24,0.33
28,OH,47835365.90,7862010.40,121697.35,0.14,39943440.26,6038958.72,144194.75,0.13,40700506.84,6139314.47,304378.39,0.13,1823051.68,1722695.93,0.30,0.28
2,AR,8041656.93,1028099.01,101023.95,0.11,10815624.44,1540814.50,108411.96,0.12,6519555.62,812923.84,39828.32,0.11,-512715.49,215175.17,-0.33,0.26
40,WY,334150.23,33650.00,293.00,0.09,37112.14,15375.00,250.00,0.29,288423.34,26915.00,0.00,0.09,18275.00,6735.00,1.19,0.25
25,NM,12345746.58,3218047.62,151106.52,0.20,9495435.47,4024754.34,36153.51,0.30,11045772.71,2836479.25,606177.07,0.20,-806706.72,381568.37,-0.20,0.13
36,TX,169185341.93,10931297.58,122628.02,0.06,109562387.62,7726451.65,12816686.19,0.06,128093600.13,9711794.35,14060.00,0.07,3204845.93,1219503.23,0.41,0.13
8,GA,37067696.47,5873099.41,13850.00,0.14,26639081.37,5655233.06,1000.00,0.18,35195924.45,5324416.95,1925.00,0.13,217866.35,548682.46,0.04,0.10
0,AK,3761979.27,185829.48,9343.86,0.05,4317169.35,225928.05,200.00,0.05,4453472.71,220586.95,3417.35,0.05,-40098.57,-34757.47,-0.18,-0.16
38,WA,2505001.65,702800.10,16364.36,0.22,3996551.11,865847.06,6328.92,0.18,3960453.13,841414.25,9874.09,0.17,-163046.96,-138614.15,-0.19,-0.16
35,TN,39528417.59,1856635.85,128966.60,0.04,11169680.46,1448709.03,25600.00,0.11,17978004.86,2290745.94,49237.00,0.11,407926.82,-434110.09,0.28,-0.19
18,ME,5589753.91,712105.30,0.00,0.11,3304059.31,825458.32,1144.17,0.20,8684767.69,892507.96,7725.17,0.09,-113353.02,-180402.66,-0.14,-0.20
27,NY,18604705.06,3807770.41,165507.63,0.17,49864930.34,9512695.42,235214.73,0.16,46971804.73,7258956.15,336638.05,0.13,-5704925.01,-3451185.74,-0.60,-0.48
6,CT,2712839.12,119512.00,150.00,0.04,851386.61,76075.00,1621.82,0.08,3263032.53,354954.55,50.00,0.10,43437.00,-235442.55,0.57,-0.66
21,MO,91106.85,5527.81,0.00,0.06,6673771.35,1136639.80,106795.00,0.14,7063487.97,830797.32,16365.10,0.11,-1131111.99,-825269.51,-1.00,-0.99
37,VT,9.99,4000.00,0.00,1.00,1260367.05,911995.80,5620.00,0.42,3836951.08,1192212.15,7385.83,0.24,-907995.80,-1188212.15,-1.00,-1.00
34,SD,0.00,0.00,1637986.00,0.00,30995.00,19000.00,3450.00,0.36,57401.16,2984.17,0.00,0.05,-19000.00,-2984.17,-1.00,-1.00

The proportion of out-of-state funding has more than doubled in eight states (Wisconsin, Arizona, Rhode Island, Colorado, Michigan, Illinois, New Hampshire and Maryland) as compared with this point in the 2010 cycle.

### Hawaii has a law on the books limiting the amount of out-of-state funding candidates can take. How has the proportion of out-of-state funding for Hawaii changed from 2014 and 2010?

In [130]:
contribs_by_state[(contribs_by_state["state"] == "HI") | (contribs_by_state["state"] == "AK")]

,state,contributions_18_in_state,contributions_18_out_of_state,contributions_18_unknown,pct_18_out_of_state,contributions_14_in_state,contributions_14_out_of_state,contributions_14_unknown,pct_14_out_of_state,contributions_10_in_state,contributions_10_out_of_state,contributions_10_unknown,pct_10_out_of_state,change_from_14,change_from_10,pct_change_from_14,pct_change_from_10
0,AK,3761979.27,185829.48,9343.86,0.046960,4317169.35,225928.05,200.0,0.049728,4453472.71,220586.95,3417.35,0.047159,-40098.57,-34757.47,-0.177484,-0.157568
9,HI,3384761.81,521055.00,191284.31,0.127177,3832319.31,728060.12,0.0,0.159649,1712958.67,275440.00,0.00,0.138524,-207005.12,245615.00,-0.284324,0.891719

The proportion of out-of-state funding in Hawaii has declined by 28 percent as compared with this point in the 2014 cycle and has increased by 89 percent as compared with this point in the 2010 cycle.

### Which candidates are the largest recipients of out-of-state funding this election cycle?

In [125]:
contribs_by_candidate_18[contribs_by_candidate_18["contributions_in_state"] >= 1000].sort_values("pct_out_of_state", ascending=False)

,candidate,state,district,contributions_in_state,contributions_out_of_state,contributions_unknown,pct_out_of_state
5323,"POPE, THOMAS E TOMMY",SC,HOUSE DISTRICT 047,3500.00,8000.00,-3650.00,1.019108
6252,"SOHI, PAUL",OH,HOUSE DISTRICT 028,1235.20,36477.43,0.00,0.967247
2472,"GLASSON, CATHY",IA,GOVERNOR,109806.37,2182830.42,0.00,0.952105
5726,"ROSENTHAL, JON E",TX,HOUSE DISTRICT 135,1075.00,11787.13,0.00,0.916421
2692,"GUSTAVSON, ALLISON M",MA,HOUSE DISTRICT FOURTH ESSEX,1550.00,11387.00,0.00,0.880189
6950,"WASDEN, LAWRENCE",ID,ATTORNEY GENERAL,14486.98,91100.00,500.00,0.858729
7385,"ZOKLE, GEORGE",MD,HOUSE DISTRICT 020,3135.00,16821.60,0.00,0.842909
6741,"TURNER, DARRELL",AL,SENATE DISTRICT 013,4530.84,22559.41,0.00,0.832750
5345,"POWDRELL-CULBERT, JANE E",NM,HOUSE DISTRICT 044,3050.00,14550.00,682.81,0.795830
2097,"FERRELL, MARCUS",AZ,HOUSE DISTRICT 024,1186.00,4282.00,0.00,0.783102
1702,"DICKERSON, ZACH",OH,HOUSE DISTRICT 042,6728.18,23676.11,0.00,0.778710
5787,"RUSSELL, DIANE MARIE",ME,GOVERNOR,10182.00,35209.00,0.00,0.775682
5728,"ROSS, ALEC & VERRATTI, JULIE C",MD,GOVERNOR / LIEUTENANT GOVERNOR,365347.64,1240027.21,873.34,0.772002
320,"BANDY, PAUL C",NM,HOUSE DISTRICT 003,2000.00,6500.00,0.00,0.764706
2017,"EZZELL, CANDY SPENCE",NM,HOUSE DISTRICT 058,1950.00,6300.00,0.00,0.763636
4872,"NEILING, AMIE",IN,HOUSE DISTRICT 032,1012.00,3209.36,0.00,0.760267
4073,"LOEWENTHEIL, NATE",MD,HOUSE DISTRICT 046,104590.88,331323.78,0.00,0.760066
32,"AGNEW, GAYATRI JANE",AR,HOUSE DISTRICT 093,4822.48,15210.00,0.00,0.759267
4845,"NANES, EZRA J",PA,SENATE DISTRICT 034,13462.31,42350.00,0.00,0.758793
3366,"JEALOUS, BENJAMIN TODD (BEN) & TURNBULL, SUSAN W",MD,GOVERNOR / LIEUTENANT GOVERNOR,684023.45,2123279.23,1527.54,0.755930
327,"BANNISTER, BRUCE",SC,HOUSE DISTRICT 024,3000.00,9000.00,0.00,0.750000
6788,"VALENTINO-SMITH, GERALDINE",MD,HOUSE DISTRICT 023A,2657.00,7785.00,0.00,0.745547
3206,"HUETT-GARCIA, AMBER",TN,HOUSE DISTRICT 086,5955.00,16900.00,0.00,0.739444
817,"BROWN, CATHRYNN NOVICH",NM,HOUSE DISTRICT 055,2600.00,7250.00,0.00,0.736041
6054,"SHELLENBERGER, MICHAEL",CA,GOVERNOR,13005.00,35830.00,0.00,0.733695
6697,"TOWNSEND, JAMES G (JIM)",NM,HOUSE DISTRICT 054,5100.00,14050.00,0.00,0.733681
1349,"COOK, ZACHARY J (ZACH)",NM,HOUSE DISTRICT 056,4225.00,11500.00,0.00,0.731320
3759,"KRALJEVICH JR, JOHN",SC,HOUSE DISTRICT 026,5331.26,14118.50,0.00,0.725896
4906,"NIBERT, GREG",NM,HOUSE DISTRICT 059,3595.00,9150.00,0.00,0.717929
4098,"LOPEZ, LESLEY J",MD,HOUSE DISTRICT 039,5038.90,12454.62,0.00,0.711956
7318,"YATES, STEPHEN",ID,LIEUTENANT GOVERNOR,115173.08,283654.00,0.00,0.711221
4155,"LUKSIK, PEG",PA,LIEUTENANT GOVERNOR,2000.00,4659.24,0.00,0.699665
6132,"SIMRILL, GARY",SC,HOUSE DISTRICT 046,8750.00,13758.27,-2750.00,0.696330
6924,"WARD, CARL",MD,HOUSE DISTRICT 019,14850.00,34026.18,0.00,0.696171
708,"BOYD, JEFF",AL,SENATE DISTRICT 032,27241.24,62000.00,0.00,0.694746
2352,"GARCIA, HARRY",NM,HOUSE DISTRICT 069,2350.00,5550.00,100.00,0.693750
5833,"SALOMON, JESSE",WA,SENATE DISTRICT 032,1092.42,2468.00,0.00,0.693177
6746,"TURNER, VERONICA",MD,HOUSE DISTRICT 026,5951.00,13200.00,0.00,0.689259
6879,"WAHLS, ZACH",IA,SENATE DISTRICT 037,39804.61,86918.58,0.00,0.685893
4057,"LITTLE, RICKY L",NM,HOUSE DISTRICT 053,6600.00,14300.00,0.00,0.684211
4675,"MITCHELL, MAHLON",WI,GOVERNOR,317356.28,687641.35,1039.00,0.683515
3349,"JAMES, LINDSAY",IA,HOUSE DISTRICT 099,22182.95,47651.36,0.00,0.682349
3033,"HILL, H BRENT",ID,SENATE DISTRICT 034,4250.00,9100.00,0.00,0.681648
5773,"RUIZ, LOUIS",KS,HOUSE DISTRICT 031,1800.00,3800.00,0.00,0.678571
4957,"NUTTING, MEGHAN",CO,HOUSE DISTRICT 005,22321.14,50585.11,1701.25,0.678016
830,"BROWN, LARRY D",KY,HOUSE DISTRICT 095,2400.00,5050.00,0.00,0.677852
7346,"YOUNGBLOOD, MONICA C",NM,HOUSE DISTRICT 068,1000.00,3250.00,550.00,0.677083
4318,"MARTINEZ, ASHANTI",MD,HOUSE DISTRICT 022,5824.00,12175.59,0.00,0.676437
5534,"REHM, WILLIAM R (BILL)",NM,HOUSE DISTRICT 031,8606.15,17950.00,0.00,0.675926
5246,"PFAFF, TONYA",IN,HOUSE DISTRICT 043,4830.74,9994.29,0.00,0.674150
7117,"WILES JR, JADE",MD,HOUSE DISTRICT 019,2047.00,4138.00,0.00,0.669038
151,"ANDRADE, RICHARD",AZ,HOUSE DISTRICT 029,2525.00,5075.00,0.00,0.667763
633,"BOLDING, REGINALD",AZ,HOUSE DISTRICT 027,10426.03,20850.00,0.00,0.666645
4761,"MORRIS, TREY STEPHEN",NM,HOUSE DISTRICT 024,5910.87,11790.00,0.00,0.666069
5643,"ROBERSON, KENT",MD,HOUSE DISTRICT 025,8866.67,17312.96,0.00,0.661314
1715,"DILLER, PAUL",OR,SENATE DISTRICT 013,2980.00,5850.00,28.00,0.660420
2990,"HERNDON, SCOTT",ID,SENATE DISTRICT 001,3949.67,7664.34,0.00,0.659922
1785,"DOUGLASS, JESSICA",MD,SENATE DISTRICT 004,3619.00,6805.00,0.00,0.652820
5052,"OSHINUBI, SADE",MD,HOUSE DISTRICT 026,7785.00,14605.74,13.63,0.651915
2813,"HARPER, JASON CARL",NM,HOUSE DISTRICT 057,6900.00,13200.00,200.00,0.650246
6058,"SHEPARD, PHILLIP R",NC,HOUSE DISTRICT 015,3375.00,6250.00,0.00,0.649351
4891,"NEUMANN, ZACH",CO,SENATE DISTRICT 032,46526.82,85895.34,0.00,0.648648
484,"BENNETT, PEGGY",MN,HOUSE DISTRICT 027A,2228.00,4000.00,0.00,0.642261
1018,"CANTRELL, MCKENZIE",KY,HOUSE DISTRICT 038,1950.00,3500.00,0.00,0.642202
1887,"EBKE, LAURA",NE,SENATE DISTRICT 032,41394.42,75016.00,500.00,0.641654
490,"BENTLEY, DANNY R",KY,HOUSE DISTRICT 098,2750.00,4800.00,0.00,0.635762
5213,"PERRY, BRAD",TX,HOUSE DISTRICT 107,6100.00,10350.00,0.00,0.629179
7386,"ZOLLINGER, BRYAN N",ID,HOUSE DISTRICT 033-POSITION B,1000.00,2500.00,505.00,0.624220
6861,"VONDERSAAR, HARLAN",IN,HOUSE DISTRICT 028,1300.00,2101.49,0.00,0.617815
3712,"KNUTSON, TIM",IA,HOUSE DISTRICT 051,9679.00,15523.00,0.00,0.615943
6318,"SRINIVAS, MEGAN L",IA,HOUSE DISTRICT 009,18037.37,28874.29,0.00,0.615503
6251,"SOGLIN, PAUL R",WI,GOVERNOR,44519.00,71246.00,0.00,0.615436
6145,"SIROTA, EMILY",CO,HOUSE DISTRICT 009,50028.77,80441.46,500.00,0.614197
2778,"HANSEN, DREW D",WA,HOUSE DISTRICT 023-POSITION 2,33315.00,52740.00,0.00,0.612864
4762,"MORRISON, ALAN",IN,HOUSE DISTRICT 042,3100.00,4900.00,0.00,0.612500
5,"ABRAMS, STACEY YVONNE",GA,GOVERNOR,1840646.00,2884679.55,650.00,0.610388
846,"BRUNO, RICHARD",MD,HOUSE DISTRICT 041,32552.21,50773.81,0.00,0.609339
5694,"ROGERS, MIKE",MD,HOUSE DISTRICT 032,13264.00,20490.38,0.00,0.607044
4706,"MONTOYA, RODNEY D (ROD)",NM,HOUSE DISTRICT 001,13250.00,20450.00,0.00,0.606825
4107,"LOTFI, SHABNAM",WI,ASSEMBLY DISTRICT 077,3819.81,5895.00,0.00,0.606805
1508,"CURTIS, PAM",KS,HOUSE DISTRICT 032,2950.00,4550.00,0.00,0.606667
6005,"SETZLER, LEONARD EDWIN (ED)",GA,HOUSE DISTRICT 035,1000.00,1500.00,0.00,0.600000
2838,"HARRIS, PAUL L",WA,HOUSE DISTRICT 017-POSITION 2,9215.24,13550.00,0.00,0.595206
5564,"RENTERIA, AMANDA",CA,GOVERNOR,44310.00,65130.04,0.00,0.595121
5653,"ROBERTS, TRACY M",IN,HOUSE DISTRICT 029,1108.77,1623.18,0.00,0.594147
2958,"HENNESSEY, JOSEPH ALOYSIUS",MD,HOUSE DISTRICT 016,5700.00,8820.00,350.00,0.593141
7083,"WHITENER, THOMAS",MI,HOUSE DISTRICT 061,5914.53,8550.00,0.00,0.591101
970,"CAIN, ALICE",MD,HOUSE DISTRICT 030A,39849.00,57924.00,600.00,0.588820
2000,"EVANS JR, MARCUS C",IL,HOUSE DISTRICT 033,43800.00,62000.66,0.00,0.586014
2172,"FLICK, BRIAN",OH,HOUSE DISTRICT 066,2100.00,2950.00,0.00,0.584158
3786,"KUEHLER, FRANCIS P",NE,SENATE DISTRICT 022,5900.00,8200.00,0.00,0.581560
2152,"FISHER, WANIKA",MD,HOUSE DISTRICT 047B,15753.25,21815.62,0.00,0.580683
139,"ANDERSON, NEIL A",ID,HOUSE DISTRICT 031-POSITION A,1050.00,1450.00,0.00,0.580000
1463,"CROOKS, RACHEL",OH,HOUSE DISTRICT 088,38065.28,56416.46,2793.89,0.579965
2564,"GRADY, DAN",WI,SENATE DISTRICT 019,1673.21,2300.00,0.00,0.578877
5652,"ROBERTS, RACHEL",KY,SENATE DISTRICT 024,10274.00,14058.00,0.00,0.577758
1828,"DUGAN, LISA M",IL,HOUSE DISTRICT 079,22762.50,31000.00,0.00,0.576610
713,"BOYD, WILL",AL,LIEUTENANT GOVERNOR,14575.00,19775.00,0.00,0.575691
6839,"VIGNARAJAH, KRISHANTI (KRISH) & BLAKE, SHARON Y",MD,GOVERNOR / LIEUTENANT GOVERNOR,245583.62,370695.75,30151.00,0.573450
6226,"SMITH, STEPHANIE",MD,HOUSE DISTRICT 045,13932.36,18686.19,0.00,0.572870
1621,"DEBOLT, RICHARD",WA,HOUSE DISTRICT 020-POSITION 1,3000.00,4000.00,0.00,0.571429
4772,"MORTIMER, DEAN M",ID,SENATE DISTRICT 030,1050.00,1400.00,0.00,0.571429
7218,"WINN, VALDENIA C",KS,HOUSE DISTRICT 034,1200.00,1600.00,0.00,0.571429
1505,"CURRIER, NUSRAT RAHIM (NUCHHI)",MD,HOUSE DISTRICT 016,41401.00,55311.50,100.00,0.571326
6834,"VICKREY, JENE",KS,HOUSE DISTRICT 006,4150.00,5500.00,0.00,0.569948
5396,"PROEHL, RICHARD",KS,HOUSE DISTRICT 007,2300.00,2950.00,0.00,0.561905
4336,"MASON, LES",KS,HOUSE DISTRICT 073,5400.00,6900.00,0.00,0.560976
2168,"FLEMING, BARRY A",GA,HOUSE DISTRICT 121,1566.17,2000.00,0.00,0.560826
6032,"SHARPE, LARRY",NY,GOVERNOR,10310.00,13163.00,0.00,0.560772
1144,"CHANEY, GREG",ID,HOUSE DISTRICT 010-POSITION B,2000.00,2550.00,0.00,0.560440
5987,"SEIWERT, JOE",KS,HOUSE DISTRICT 101,6550.00,8350.00,0.00,0.560403
3861,"LARA, RAYMUNDO",NM,HOUSE DISTRICT 034,2855.00,3600.00,0.00,0.557707
1653,"DEMMER, TOM",IL,HOUSE DISTRICT 090,45684.57,56650.00,0.00,0.553576
5028,"ORMAN, GREG",KS,GOVERNOR,209476.36,258795.00,0.00,0.552660
5295,"PITTS, MIKE",SC,HOUSE DISTRICT 014,2500.00,4250.00,1000.00,0.548387
1237,"CLAYTON, STEPHANIE SAWYER",KS,HOUSE DISTRICT 019,3071.74,3850.00,100.00,0.548297
2594,"GRAY, CHARLES JAN (CHUCK)",WY,HOUSE DISTRICT 057,3300.00,4000.00,0.00,0.547945
4791,"MOYLE, MIKE",ID,HOUSE DISTRICT 014-POSITION A,6550.00,7850.00,0.00,0.545139
30,"AGENBROAD, JEFF C",ID,SENATE DISTRICT 013,2250.00,2650.00,0.00,0.540816
7121,"WILHELM, COLIN",CO,HOUSE DISTRICT 057,1902.18,2240.00,0.00,0.540778
6899,"WALKER, SCOTT K",WI,GOVERNOR,9185281.82,10751492.14,12867.75,0.538932
3458,"JOHNSTON, MICHAEL (MIKE)",CO,GOVERNOR,1149574.78,1341981.13,0.00,0.538612
4386,"MCCALL, THOMAS A",GA,HOUSE DISTRICT 033,3000.00,3500.00,0.00,0.538462
4671,"MITCHELL, DARIN",AZ,HOUSE DISTRICT 013,4850.00,5650.00,0.00,0.538095
1826,"DUFFY, CONOR",CO,HOUSE DISTRICT 049,1766.85,2050.00,0.00,0.537092
6722,"TRUJILLO, JIM R",NM,HOUSE DISTRICT 045,8750.00,10500.00,300.00,0.537084
6016,"SHAH, AMISH",AZ,HOUSE DISTRICT 024,27004.10,31286.12,0.00,0.536730
3112,"HOLLY, EL-MAHDI",GA,HOUSE DISTRICT 111,2601.00,3000.00,0.00,0.535619
6974,"WEATHERBY, WILLIAM W",AK,HOUSE DISTRICT 037,1517.88,1750.00,0.00,0.535515
4306,"MARTIN, FRED",ID,SENATE DISTRICT 015,2430.82,2800.00,0.00,0.535289
2123,"FINCH, BLAINE",KS,HOUSE DISTRICT 059,6150.00,7075.00,0.00,0.534972
1968,"ERICKSEN, DOUGLAS J (DOUG)",WA,SENATE DISTRICT 042,20350.00,23245.10,0.00,0.533204
1259,"CLOWNEY, NICOLE",AR,HOUSE DISTRICT 086,17256.26,19680.70,0.00,0.532819
7048,"WHEELER JR, JOHN P",KS,HOUSE DISTRICT 123,2250.00,2550.00,0.00,0.531250
655,"BONNY, ANDREA",OH,HOUSE DISTRICT 024,4694.44,5305.00,0.00,0.530530
7268,"WOOLARD, JASON",IL,HOUSE DISTRICT 117,76849.00,86150.00,0.00,0.528531
5167,"PAYTON, JOHN",AR,HOUSE DISTRICT 064,3000.00,3350.00,0.00,0.527559
3595,"KELLY, JIM",KS,HOUSE DISTRICT 011,5250.00,5850.00,0.00,0.527027
7178,"WILLIAMSON, TOM",KY,HOUSE DISTRICT 025,3753.00,4150.00,0.00,0.525117
2517,"GONZALES, ROBERTO JESSE (BOBBY)",NM,HOUSE DISTRICT 042,10475.00,11550.00,0.00,0.524404
5456,"RAIMONDO, GINA",RI,GOVERNOR,2082488.94,2309883.70,15150.00,0.524078
6482,"SUNUNU, CHRISTOPHER (CHRIS)",NH,GOVERNOR,193885.00,213285.00,0.00,0.523823
560,"BLACK, RACHEL A",NM,HOUSE DISTRICT 051,2550.00,2800.00,0.00,0.523364
2159,"FITZGERALD, CHRISTOPHER",IN,HOUSE DISTRICT 072,1969.38,2127.00,0.00,0.519239
1786,"DOVE, WILLIE O",KS,HOUSE DISTRICT 038,6008.70,7375.00,850.00,0.518137
7000,"WEINSTEIN, CASEY",OH,HOUSE DISTRICT 037,29587.52,31805.33,0.00,0.518062
2969,"HENRY-SPIRES, DIEDRA",MD,HOUSE DISTRICT 026,2050.00,2200.00,0.00,0.517647
4633,"MILLER, KYLE",IN,HOUSE DISTRICT 081,2155.00,2309.23,0.00,0.517274
5151,"PAUL, SAMIR",MD,HOUSE DISTRICT 016,80221.49,85802.61,100.00,0.516497
2452,"GILLHAM, RONALD D (RON)",AK,SENATE DISTRICT O,1600.00,1700.00,0.00,0.515152
2694,"GUTHRIE, JIM",ID,SENATE DISTRICT 028,1850.00,1950.00,0.00,0.513158
1910,"EGOLF JR, BRIAN F",NM,HOUSE DISTRICT 047,84773.85,92825.00,3375.00,0.512919
3640,"KIELY, EILEEN",OR,HOUSE DISTRICT 053,5776.72,6126.00,57.67,0.512191
2433,"GIBSON, DEBORAH",FL,HOUSE DISTRICT 089,1463.08,1529.88,0.00,0.511160
5119,"PARRETT, DENNIS L",KY,SENATE DISTRICT 010,1200.00,1250.00,0.00,0.510204
4544,"MEMULA, SANJEEV",TN,HOUSE DISTRICT 095,2496.09,2600.00,0.00,0.510195
2030,"FAJARDO, KELLY K",NM,HOUSE DISTRICT 007,23223.33,23700.00,0.00,0.505079
1332,"CONNOR, JOHN",IL,HOUSE DISTRICT 085,61297.89,62400.00,0.00,0.504455
6665,"TOBASH, MICHAEL G",PA,HOUSE DISTRICT 125,5414.36,5500.00,0.00,0.503923
6563,"TAYLOR, DAVID V",WA,HOUSE DISTRICT 015-POSITION 2,3750.00,5000.00,1200.00,0.502513
7142,"WILLIAMS, CLAUDETTE",PA,HOUSE DISTRICT 176,2412.50,2428.00,0.00,0.501601
471,"BENDELL, DON",CO,HOUSE DISTRICT 047,2734.00,2750.00,0.00,0.501459
3130,"HOLTZCLAW, JAMES D",ID,HOUSE DISTRICT 020-POSITION B,1750.00,1750.00,0.00,0.500000
3559,"KAUFFMAN, CLARK",ID,HOUSE DISTRICT 025-POSITION B,3000.00,3000.00,0.00,0.500000
1605,"DAYLEY, THOMAS E (TOM)",ID,HOUSE DISTRICT 021-POSITION B,1750.00,1750.00,0.00,0.500000
420,"BECHTOLD, NAOMI S",IN,HOUSE DISTRICT 024,22711.85,22670.00,0.00,0.499539
156,"ANDREWS, JOHN E",ME,HOUSE DISTRICT 073,1380.00,1375.00,0.00,0.499093
558,"BLACK, KEVIN",OH,HOUSE DISTRICT 072,15076.68,15000.00,0.00,0.498725
2494,"GODFREY, MEGAN",AR,HOUSE DISTRICT 089,11113.77,11020.66,0.00,0.497897
7090,"WHITMIRE, BILL",SC,HOUSE DISTRICT 001,2017.23,2000.00,0.00,0.497855
2165,"FITZPATRICK, SEAN",IN,HOUSE DISTRICT 009,3285.00,3250.00,0.00,0.497322
854,"BUCCINI, STEVEN ANDREW",NC,HOUSE DISTRICT 059,22750.00,22507.00,0.00,0.497315
5771,"RUILOBA, PATRICIO R",NM,HOUSE DISTRICT 012,14100.00,13900.00,0.00,0.496429
837,"BROWN, SHARON RAYE",WA,SENATE DISTRICT 008,19700.00,19400.00,0.00,0.496164
5555,"REMILLARD, DARRYN ELLIOT",MA,HOUSE DISTRICT THIRTIETH MIDDLESEX,2212.00,2177.00,0.00,0.496013
2798,"HARDY, JOSEPH P",NV,SENATE DISTRICT 012,23423.96,23000.00,0.00,0.495434
7153,"WILLIAMS, JIM",AL,SENATE DISTRICT 012,9330.39,9140.00,0.00,0.494846
4788,"MOWRER, JIM",IA,SECRETARY OF STATE,77383.36,75586.58,0.00,0.494127
5137,"PATRICK, JOHN E",TN,HOUSE DISTRICT 078,1025.00,1000.00,0.00,0.493827
2207,"FORD, J D",IN,SENATE DISTRICT 029,21303.34,20771.42,0.00,0.493679
3870,"LARSEN, HOWARD FREDERICK",NC,HOUSE DISTRICT 085,1736.00,1735.92,50.00,0.492890
296,"BALDONADO, ALONZO",NM,HOUSE DISTRICT 008,17643.96,17125.00,28.19,0.492138
2732,"HALL, JEFF",OK,SENATE DISTRICT 027,2839.00,2750.00,0.00,0.492038
7281,"WOUDE, JOHN VANDER",ID,HOUSE DISTRICT 022-POSITION A,4750.00,4600.00,0.00,0.491979
66,"ALEXANDER, TERRY",SC,HOUSE DISTRICT 059,1750.00,1935.09,250.00,0.491752
870,"BUCKNER-WEBB, CHERIE",ID,SENATE DISTRICT 019,3550.00,3400.00,0.00,0.489209
5949,"SCHULTZ, JON W",WI,SENATE DISTRICT 031,2882.00,2749.86,0.00,0.488269
227,"AUGUSTINE, MALCOLM L",MD,SENATE DISTRICT 047,65841.88,62736.41,0.00,0.487924
7269,"WOOLDRIDGE, GREG C",OR,GOVERNOR,155064.70,147425.00,0.00,0.487372
6052,"SHELDON, TIMOTHY (TIM)",WA,SENATE DISTRICT 035,21150.00,20100.00,0.00,0.487273
5013,"OMOKUNDE, SUPREME MOORE",WI,ASSEMBLY DISTRICT 016,9967.58,9450.00,0.00,0.486672
4944,"NORRIS, JOHN",IA,GOVERNOR,289611.45,274542.67,0.00,0.486645
2282,"FRIEDRICHS, MATT",MI,HOUSE DISTRICT 004,19567.38,18477.00,0.00,0.485670
5809,"RYNDERS, EUGENE ED",GA,HOUSE DISTRICT 152,2650.00,2500.00,0.00,0.485437
7,"ACEVERO, GABRIEL",MD,HOUSE DISTRICT 039,21285.32,20022.17,0.00,0.484710
6135,"SIMS, BRIAN K",PA,HOUSE DISTRICT 182,29644.00,27838.00,0.00,0.484291
5286,"PINSLEY, MARK",PA,SENATE DISTRICT 016,4436.10,4150.00,0.00,0.483339
3508,"JORDAN, PAULETTE E",ID,GOVERNOR,157799.54,147483.41,0.00,0.483104
4061,"LIVELY, SCOTT DOUGLAS",MA,GOVERNOR,40051.68,37401.81,0.00,0.482894
3669,"KINGSLEY, STEFANIE J E",KY,HOUSE DISTRICT 082,4565.00,4339.00,100.00,0.481897
6566,"TAYLOR, JOE",IN,HOUSE DISTRICT 007,7550.00,7300.00,300.00,0.481848
2005,"EVANS, OSCAR",ID,HOUSE DISTRICT 023-POSITION A,5270.00,4900.00,0.00,0.481809
2808,"HARMSWORTH, MARK",WA,HOUSE DISTRICT 044-POSITION 2,9180.00,8500.00,0.00,0.480769
7193,"WILSON, CARL",OR,HOUSE DISTRICT 003,20515.00,19000.00,100.00,0.479616
2379,"GARTNER, JIM",KS,HOUSE DISTRICT 053,7220.00,6650.00,0.00,0.479452
3975,"LENDZONDZO, MALIK",MD,HOUSE DISTRICT 020,1012.00,925.00,0.00,0.477543
37,"AHMED, ANIS",MD,HOUSE DISTRICT 015,5718.00,5220.00,0.00,0.477235
5083,"PALAKOVICH CARR, JULIE",MD,HOUSE DISTRICT 017,14823.40,13495.00,0.00,0.476545
6626,"THOMPSON, JEFFREY D",ID,HOUSE DISTRICT 030-POSITION A,1650.00,1500.00,0.00,0.476190
4250,"MANLEY, PAUL",MI,HOUSE DISTRICT 032,3665.00,3314.62,0.00,0.474900
4487,"MCKINNEY, DONALD R",AR,HOUSE DISTRICT 081,3100.00,2800.00,0.00,0.474576
100,"ALMQUIST, ERIK",MI,HOUSE DISTRICT 080,1046.67,940.00,0.00,0.473154
1850,"DUPLESSIS, JIM",KY,HOUSE DISTRICT 025,1950.00,2000.00,300.00,0.470588
5805,"RYCKMAN JR, RON",KS,HOUSE DISTRICT 078,20232.00,17975.00,0.00,0.470464
693,"BOWERS, RICK",MD,HOUSE DISTRICT 036,3684.22,3270.00,0.00,0.470218
3868,"LARRANAGA, LORENZO A (LARRY)",NM,HOUSE DISTRICT 027,13750.00,12150.00,0.00,0.469112
5751,"ROWLAND, BART",KY,HOUSE DISTRICT 021,12021.16,10550.00,0.00,0.467411
2932,"HEIDER, LEE",ID,SENATE DISTRICT 024,3625.00,3150.00,0.00,0.464945
3383,"JENKINS, MARLIN",MD,HOUSE DISTRICT 019,37928.22,32902.89,0.00,0.464526
2422,"GEYER, JAY",CO,HOUSE DISTRICT 033,17093.34,14769.47,0.00,0.463533
1268,"COBB-HUNTER, GILDA",SC,HOUSE DISTRICT 066,7464.89,7500.00,1250.00,0.462538
337,"BARKER, JOHN E",KS,HOUSE DISTRICT 070,6000.00,5850.00,800.00,0.462451
6911,"WALSH, LAWRENCE M",IL,HOUSE DISTRICT 086,134875.00,115450.66,0.00,0.461202
3788,"KUETHER, ANNIE",KS,HOUSE DISTRICT 055,3750.00,3200.00,0.00,0.460432
900,"BURKE, KELLY M",IL,HOUSE DISTRICT 036,79377.14,67662.98,0.00,0.460167
5084,"PALFREY, QUENTIN",MA,LIEUTENANT GOVERNOR,109825.66,93719.00,200.00,0.459983
2236,"FOWLER, ELAINA",TX,HOUSE DISTRICT 047,7134.00,6060.00,0.00,0.459300
7242,"WOLFE MOORE, KATHY",KS,HOUSE DISTRICT 036,6550.00,5550.00,0.00,0.458678
1229,"CLARK, LONNIE",KS,HOUSE DISTRICT 065,2200.00,1900.00,50.00,0.457831
4237,"MALOWNEY, PATTY",MI,HOUSE DISTRICT 077,2164.68,1825.00,0.00,0.457430
4922,"NILSSON TROY, CAROLINE",ID,HOUSE DISTRICT 005-POSITION B,3925.00,3300.00,0.00,0.456747
39,"AHMED, SHABNAM",MD,HOUSE DISTRICT 023A,6165.00,5175.00,0.00,0.456349
5423,"QUEEN, ERIC JOHN",NC,HOUSE DISTRICT 003,5211.87,4450.00,100.00,0.455855
1289,"COLEMAN, LIV",FL,HOUSE DISTRICT 073,23338.03,19558.00,25.00,0.455674
1753,"DONAHUE, SHERI A",KY,SENATE DISTRICT 036,7245.00,6060.00,0.00,0.455468
5229,"PETERSON, STEVE",CO,SENATE DISTRICT 030,19726.72,16500.09,0.00,0.455466
5506,"RAYMOND, JOSIE",KY,HOUSE DISTRICT 031,24240.00,20562.00,419.94,0.454691
2223,"FORTUNATO, PHILIP D (PHIL)",WA,SENATE DISTRICT 031,1200.00,1000.00,0.00,0.454545
6258,"SOLOMON, JARED SCOTT",MD,HOUSE DISTRICT 018,50896.07,42231.75,0.00,0.453482
6580,"TENNYSON, JULIE",KY,SENATE DISTRICT 002,8877.20,7350.00,0.00,0.452943
2596,"GRAY, JAMES P",NH,SENATE DISTRICT 006,2700.00,2225.00,0.00,0.451777
4051,"LIPTRAP, ED",IN,SENATE DISTRICT 011,9945.34,8082.58,0.00,0.448337
2733,"HALL, JIMMIE C",NM,HOUSE DISTRICT 028,18765.00,15250.00,0.00,0.448332
3161,"HORSEY, MAURICE",AL,HOUSE DISTRICT 096,2865.00,2325.00,0.00,0.447977
1304,"COLLINS, GARY",ID,HOUSE DISTRICT 013-POSITION B,4750.00,3850.00,0.00,0.447674
917,"BURROUGHS, TOM",KS,HOUSE DISTRICT 033,8897.51,7200.00,0.00,0.447274
6357,"STAVRINAKIS, LEON",SC,HOUSE DISTRICT 119,1950.00,1573.58,0.00,0.446586
5184,"PELIKAN, MATT",MN,ATTORNEY GENERAL,9400.00,7550.00,0.00,0.445428
1917,"EL-SAYED, ADBULRAHMAN M (ADBUL)",MI,GOVERNOR,2530172.46,2032301.23,467.08,0.445393
5453,"RAHJES, KEN",KS,HOUSE DISTRICT 110,3300.00,2650.00,0.00,0.445378
...,...,...,...,...,...,...,...
6164,"SLAY, CARLOS E",FL,SENATE DISTRICT 004,3572.00,0.00,0.00,0.000000
6167,"SMALL, JOSEPH",IA,HOUSE DISTRICT 005,1381.80,0.00,0.00,0.000000
6172,"SMITH II, ALLEN K",IN,HOUSE DISTRICT 059,2602.95,0.00,0.00,0.000000
6174,"SMITH JR, CARSON HENRY",NC,HOUSE DISTRICT 016,2250.00,0.00,0.00,0.000000
6255,"SOLIS, ABIGAIL",CA,SENATE DISTRICT 014,23860.18,0.00,0.00,0.000000